<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div style="padding-bottom: 28px;">
        <p:outputLabel styleClass="banca-section-title" 
                       value="#{sabmsg['sab.gastos.agregar.lbl']}"/>
    </div>
    <h:form id="mantagregargastoform" prependId="false">

        <h:panelGrid columns="4">
            <h:outputText styleClass="banca-font-size-18 bold-text"
                          value="#{sabmsg['sab.banca.seleccion.grupo']}" />
            <h:outputText value="&#160;" />
            <h:outputText value="&#160;" />
            <h:selectOneMenu id="grupos"
                             value="#{gastoAgregarBean.modelBean.inputBean.grupoId}">
                <f:selectItem itemLabel="[Seleccione un Grupo]" itemValue="0"/>  
                <f:selectItems value="#{gastoAgregarBean.gruposSI}"/>
                <p:ajax listener="#{gastoAgregarBean.onGrupoSelectionChange()}"
                        event="change" update="agregarGastoOPanel" process="@this"/>
            </h:selectOneMenu>
        </h:panelGrid>


        <p:outputPanel id="agregarGastoOPanel" style="padding-top:20px;">
            <h:panelGroup>
                <div style="padding-bottom: 8px;">
                    <p:commandButton value="#{sabmsg['sab.gastos.agregar.lbl']}"
                                     title="#{sabmsg['sab.gastos.agregar.lbl']}"
                                     styleClass="banca-buttons" update="gastoagregdialog"
                                     actionListener="#{gastoAgregarBean.openCreatePopup}"
                                     oncomplete="handleAbrirAgregarPopupOperationResponse(xhr, status, args);"
                                     rendered="#{gastoAgregarBean.modelBean.inputBean.grupoId ne null and
                                                 gastoAgregarBean.modelBean.inputBean.grupoId &gt; 0}"/>
                </div>

                <div class="banca-mantenimiento-tbl-msg-div banca-mantenimiento-tbl-msg-font">
                    <p:messages autoUpdate="true" for="gastoagremantmsg"/>
                </div>

                <p:dataTable id="bancaAgregarGastoDT" style="width: 1000px;font-size:12px;"
                             var="banca" sortMode="single" styleClass="banca-table"
                             value="#{gastoAgregarBean.bancasGrupoSeleccionado}" 
                             selection="#{gastoAgregarBean.selectedBancas}"
                             scrollable="true" scrollHeight="600"
                             rowKey="#{banca.id}" widgetVar="bancaAgregarGastosWV"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">
                    
                    <p:ajax event="toggleSelect" listener="#{gastoAgregarBean.toggleSelection}"/>
                    
                    <p:column selectionMode="multiple" style="width:2%" />                      
                    
                    <p:column headerText="#{sabmsg['sab.codigo.lbl']}"
                              sortBy="codigo">  
                        <h:outputText value="#{banca.codigo}" />  
                    </p:column> 

                    <p:column headerText="#{sabmsg['sab.status.lbl']}"
                              sortBy="status">  
                        <h:outputText value="#{banca.status}" />  
                    </p:column> 

                    <p:column headerText="#{sabmsg['sab.fecha.creacion']}"
                              sortBy="fechaCreacion">  
                        <h:outputText value="#{banca.fechaCreacion}">
                            <f:convertDateTime pattern="dd-MM-yyyy"/>
                        </h:outputText>  
                    </p:column>
                </p:dataTable>            
                <ui:include src="./gastopopup.xhtml"/>
            </h:panelGroup>
        </p:outputPanel>
        <p:remoteCommand update="bancaAgregarGastoDT" name="updategastoagregarall"/> 
        <p:remoteCommand update="gastoagregdialog" process="gastoagregdialog" 
                         name="updateAgregarGastoDialog" ignoreAutoUpdate="true"/> 
    </h:form>            
    <script>
        $(function() {
            $("#mantagregargastoform").attr("autocomplete", "off");
        });
        $(document).ready(function() {
            $('#grupos').val(0);
        });
        function openDialogoAgregarGasto() {
            PF('gastoagregardlg').show();
        }

        function closeDialogoAgregarGasto() {
            PF('gastoagregardlg').hide();
        }

        function handleAbrirAgregarPopupOperationResponse(xhr, status, args) {
            if (args) {
                if (args.operationStatus === "000") {
                    openDialogoAgregarGasto();
                }
            }
        }

        function handleGastoOperationResponse(xhr, status, args) {
            if (args) {
                if (args.operationStatus === "000") {
                    bancaAgregarGastosWV.unselectAllRows();    
                    closeDialogoAgregarGasto();
                }
            }
        }

    </script>    
</ui:composition>