<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <span class="red-text bold-text">*</span>
    <h:outputLabel escape="true" value="&#160;"/> #{sabmsg['sab.campos.requeridos']}

    <h:panelGrid columns="4" cellpadding="3" cellspacing="1" 
                 style="padding-top: 15px;" width="100%">
        <h:outputLabel styleClass="red-text bold-text" value="*"/>
        <h:outputLabel value="#{sabmsg['sab.gasto.tipo']}" 
                       styleClass="banca-popup-field-name "/>
        <h:selectOneMenu id="tipoGasto"
                         value="#{gastoAgregarBean.popupHandler.placeholderGasto}">
            <f:selectItem itemLabel="[Seleccione un Tipo de Gasto]" itemValue="0"/>
            <f:selectItems value="#{tipoGastoBean.tipoGastosSI}"/>
        </h:selectOneMenu>
        <h:outputText value="&#160;" />
        
        <h:outputLabel styleClass="red-text bold-text" value="*"/>
        <h:outputLabel value="#{sabmsg['sab.gasto.valor']}" 
                       styleClass="banca-popup-field-name "/>
        <h:inputText value="#{gastoAgregarBean.popupHandler.placeholderMonto}"
                     size="20" maxlength="10" id="monto"/>
        <h:outputText value="&#160;"/>
        
        <h:outputLabel escape="true" value="&#160;"/>
        <h:outputLabel value="#{sabmsg['sab.fecha.efectiva']}" 
                       styleClass="banca-popup-field-name "/>
        <p:calendar id="popupButtonCal" showOn="button" pattern="yyyy-MM-dd"
                    styleClass="gastoFilterCalendarClass" readonlyInput="true"
                    value="#{gastoAgregarBean.popupHandler.placeholderDate}"/>
        <h:outputText value="&#160;"/>
    </h:panelGrid>
    <p:separator/>
    <p:commandButton value="#{sabmsg['sab.agregar.lbl']}" styleClass="fltRight"
                     title="#{sabmsg['sab.agregar.lbl']}" 
                     actionListener="#{gastoAgregarBean.popupHandler.execute}"
                     oncomplete="handleGastoOperationResponse(xhr, status, args)"/>    
    <p:commandButton value="#{sabmsg['sab.cancelar.lbl']}" styleClass="fltRight"
                     title="#{sabmsg['sab.cancelar.lbl']}" 
                     update="gastoagregdialog" oncomplete="closeDialogoAgregarGasto();"
                     actionListener="#{gastoAgregarBean.popupHandler.reset}"/>
    <div class="clear"/>
</ui:composition>