<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <span class="red-text bold-text">*</span>
    <h:outputLabel escape="true" value="&#160;"/> #{sabmsg['sab.campos.requeridos']}    

    <div style="padding-top:10px; padding-bottom:15px;">
        <h:outputFormat styleClass="banca-section-subtitle"
                        value="#{sabmsg['sab.banca.juego.agregando.lbl']}">
            <f:param value="#{bancaBean.popupHandler.model.codigo}"/>
        </h:outputFormat>
    </div>

    <h:panelGrid columns="4">
        <h:outputText styleClass="banca-font-size-16 bold-text"
                      value="#{sabmsg['sab.banca.seleccion.loteria']}" />
        <h:outputText value="&#160;" />
        <h:outputText value="&#160;" />
        <h:selectOneMenu id="loterias"
                         value="#{bancaBean.modelBean.inputBean.loteriaId}">
            <f:selectItem itemLabel="[Seleccione una Lotería]" itemValue="0"/>  
            <f:selectItems value="#{bancaBean.popupHandler.loteriasSI}"/>
            <p:ajax listener="#{bancaBean.popupHandler.onLoteriaSelectionChange()}"
                    event="change" update="bancaOpLoteJuego crePoptaxPg" process="@this"/>
        </h:selectOneMenu>      
    </h:panelGrid>
    <h:panelGrid id="crePoptaxPg" columns="6" style="padding-bottom:15px;">
        <h:outputText styleClass="red-text bold-text" value="*"
                      rendered="#{bancaBean.modelBean.inputBean.loteriaId ne null and
                                  !empty bancaBean.modelBean.inputBean.loteriaId}">*</h:outputText>        
        <h:outputText styleClass="banca-font-size-16 bold-text"
                      value="#{sabmsg['sab.intro.porcentaje.lbl']}" 
                      rendered="#{bancaBean.modelBean.inputBean.loteriaId ne null and
                                  !empty bancaBean.modelBean.inputBean.loteriaId}"/>
        <h:outputText value="&#160;" rendered="#{bancaBean.modelBean.inputBean.loteriaId ne null and
                                                 !empty bancaBean.modelBean.inputBean.loteriaId}"/>
        <h:outputText value="&#160;" rendered="#{bancaBean.modelBean.inputBean.loteriaId ne null and
                                                 !empty bancaBean.modelBean.inputBean.loteriaId}"/>
        <h:inputText rendered="#{bancaBean.modelBean.inputBean.loteriaId ne null and
                                 !empty bancaBean.modelBean.inputBean.loteriaId}"
                     converterMessage="#{sabmsg['sab.error.porcentaje.val']}"
                     requiredMessage="#{sabmsg['sab.error.porcentaje.val']}"
                     validatorMessage="#{sabmsg['sab.error.porcentaje.val']}"
                     value="#{bancaBean.popupHandler.porcentaje}" required="true"
                     id="bjcrpporc">
            <f:validateLongRange minimum="1" maximum="100" for="bjcrpporc"/>
        </h:inputText>
        <h:message for="bjcrpporc" errorStyle="color:red;"/>        
    </h:panelGrid>

    <p:outputPanel id="bancaOpLoteJuego">
        <p:dataTable id="createBancaJuegoLoteriaDT" style="width: 450px;font-size:12px;"
                     paginator="true" rows="5" var="bancalotejuego" sortMode="single"
                     value="#{bancaBean.popupHandler.juegoNoRelacionadosList}" 
                     styleClass="banca-table"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                     rowsPerPageTemplate="5,10,15">
            <p:column headerText="#{sabmsg['sab.codigo.lbl']}"
                      sortBy="codigo">  
                #{bancalotejuego.codigo}
            </p:column> 

            <p:column headerText="#{sabmsg['sab.nombre.lbl']}"
                      sortBy="nombre">  
                #{bancalotejuego.nombre}
            </p:column>

            <p:column headerText="#{sabmsg['sab.operaciones.lbl']}"
                      sortBy="nombre" styleClass="banca-txt-align-center">  
                <p:commandLink title="#{sabmsg['sab.banca.juego.agregar.lbl']}"
                               actionListener="#{bancaBean.popupHandler.execute}"
                               styleClass="banca-non-txt-decoration"
                               update=":mantbancaform:crePoptaxPg :mantbancaform:createBancaJuegoLoteriaDT"
                               oncomplete="handleBancaOperationResponse(xhr, status, args);">
                    <img src="../../resources/images/add_big.png" 
                         style="height:20px;width: 20px;"/>
                    <f:param value="#{bancalotejuego.id}" name="juegoId"/>
                </p:commandLink>
            </p:column>        
        </p:dataTable>        
    </p:outputPanel>

    <br/>
    <p:separator/>
    <p:commandButton value="#{sabmsg['sab.cerrar.lbl']}" styleClass="fltRight"
                     title="#{sabmsg['sab.cerrar.lbl']}" update="bancdialog"
                     immediate="true" oncomplete="closeDialogoBanca();"/>
    <div class="clear"/>
</ui:composition>