<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div style="padding-bottom:15px;">
        <h:outputFormat styleClass="banca-section-subtitle"
                        value="#{sabmsg['sab.banca.juego.eliminando.lbl']}">
            <f:param value="#{bancaBean.popupHandler.model.codigo}"/>
        </h:outputFormat>
    </div>
    <h:panelGrid columns="4" style="padding-bottom:10px;">
        <h:outputText styleClass="banca-font-size-16 bold-text"
                      value="#{sabmsg['sab.banca.seleccion.loteria']}" />
        <h:outputText value="&#160;" />
        <h:outputText value="&#160;" />
        <h:selectOneMenu id="loterias"
                         value="#{bancaBean.modelBean.inputBean.loteriaId}">
            <f:selectItem itemLabel="[Seleccione una Lotería]" itemValue="0"/>  
            <f:selectItems value="#{bancaBean.popupHandler.loteriasSI}"/>
            <p:ajax listener="#{bancaBean.popupHandler.onLoteriaSelectionChange()}"
                    event="change" update="bancaOpLoteJuego" process="@this"/>
        </h:selectOneMenu>      
    </h:panelGrid>

    <p:outputPanel id="bancaOpLoteJuego">
        <p:dataTable id="delBancaJuegoLoteriaDT" style="width: 450px;font-size:12px;"
                     paginator="true" rows="5" var="bancalotejuego" sortMode="single"
                     value="#{bancaBean.popupHandler.juegosRelacionadosList}" 
                     styleClass="banca-table"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                     rowsPerPageTemplate="5,10,15">
            <p:column headerText="#{sabmsg['sab.codigo.lbl']}"
                      sortBy="codigo">  
                #{bancalotejuego.codigo}
            </p:column> 

            <p:column headerText="#{sabmsg['sab.status.lbl']}"
                      sortBy="nombre">  
                #{bancalotejuego.nombre}
            </p:column>

            <p:column headerText="#{sabmsg['sab.porcentaje.a.cobrar.lbl']}"
                      sortBy="porcentajeCobro">
                #{bancalotejuego.porcentajeCobro}%
            </p:column>            

            <p:column headerText="#{sabmsg['sab.operaciones.lbl']}"
                      sortBy="nombre" styleClass="banca-txt-align-center">  
                <p:commandLink title="#{sabmsg['sab.banca.juego.eliminar.lbl']}"
                               actionListener="#{bancaBean.popupHandler.execute}"
                               styleClass="banca-non-txt-decoration"
                               update=":mantbancaform:delBancaJuegoLoteriaDT"
                               oncomplete="handleBancaOperationResponse(xhr, status, args);">
                    <img src="../../resources/images/minus_big.png" 
                         style="height:20px;width: 20px;"/>
                    <f:param value="#{bancalotejuego.id}" name="juegoId"/>
                </p:commandLink>
            </p:column>        
        </p:dataTable>        
    </p:outputPanel>

    <br/>
    <p:separator/>
    <p:commandButton value="#{sabmsg['sab.cerrar.lbl']}" styleClass="fltRight"
                     title="#{sabmsg['sab.cerrar.lbl']}" update="bancdialog"
                     immediate="true" oncomplete="closeDialogoBanca();"/>
    <div class="clear"/>
</ui:composition>
