<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div style="padding-bottom: 28px;">
        <p:outputLabel styleClass="banca-section-title" 
                       value="#{sabmsg['sab.reportes.bygrupo.ganper.lbl']}"/>
    </div>

    <h:form id="reptbygrupoganperdform" prependId="false">
        <h:panelGrid columns="4">
            <h:outputText styleClass="banca-font-size-18 bold-text"
                          value="#{sabmsg['sab.banca.seleccion.grupo']}" />
            <h:outputText value="&#160;" />
            <h:outputText value="&#160;" />
            <h:selectOneMenu id="grupos"
                             value="#{repGananciaPerdidaBean.modelBean.inputBean.grupoId}">
                <f:selectItem itemLabel="[Seleccione un Grupo]" itemValue="0"/>  
                <f:selectItems value="#{repGananciaPerdidaBean.gruposSI}"/>
                <p:ajax listener="#{repGananciaPerdidaBean.onGrupoSelectionChange()}"
                        event="change" onstart="repGanPerdDTWidget.clearFilters();" 
                        process="@this repGanPerDT" update="repByGrupoGanPerdOPanel"/>                
            </h:selectOneMenu>
        </h:panelGrid>

        <p:outputPanel id="repByGrupoGanPerdSumm" style="padding-top: 10px; padding-bottom: 5px;">

            <h:outputText value="#{sabmsg['sab.detalle.grupo.lbl']}" 
                          class="bold-text banca-font-size-14" 
                          style="padding-bottom:10px;"/>

            <table style="padding-top:10px;">
                <tr>
                    <td class="banca-font-size-13 bold-text">#{sabmsg['sab.reportes.bygrupo.ganper.gan.totales.grp']}</td>
                    <td class="banca-font-size-12">
                        <h:outputText value="#{repGananciaPerdidaBean.summaryGanancias}">
                            <f:convertNumber type="currency" currencySymbol="$" />
                        </h:outputText>                        
                    </td>
                </tr>
                <tr>
                    <td class="banca-font-size-13 bold-text">#{sabmsg['sab.reportes.bygrupo.ganper.per.totales.grp']}</td>
                    <td class="banca-font-size-12">
                        <h:outputText value="#{repGananciaPerdidaBean.summaryPerdidas}">
                            <f:convertNumber type="currency" currencySymbol="$" />
                        </h:outputText>                     
                    </td>                    
                </tr>
            </table>
        </p:outputPanel>        

        <p:outputPanel id="repByGrupoGanPerdOPanel" style="padding-top:20px;">

            <div class="banca-mantenimiento-tbl-msg-div banca-mantenimiento-tbl-msg-font">
                <p:messages autoUpdate="true" for="reptByGrupoGanPerdmantmsg"/>
            </div>            

            <p:dataTable id="repGanPerDT" style="width: 100%;font-size:12px;"
                         paginator="true" rows="10" var="ganper" sortMode="single"
                         binding="#{repGananciaPerdidaBean.dt}" 
                         filteredValue="#{repGananciaPerdidaBean.filteredList}"
                         value="#{repGananciaPerdidaBean.modelBean.gananciaPerdidaList}" 
                         styleClass="banca-table" widgetVar="repGanPerdDTWidget"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                         rowsPerPageTemplate="5,10,15">

                <p:ajax event="filter" update=":reptbygrupoganperdform:repByGrupoGanPerdSumm"/>

                <p:column headerText="#{sabmsg['sab.banca.lbl']}"
                          sortBy="banca">  
                    <h:outputText value="#{ganper.banca}" />  
                </p:column> 

                <p:column headerText="#{sabmsg['sab.ganancia.lbl']}"
                          style="color:#{(ganper.ganancia gt ganper.perdida)?'green':'black'};"                          
                          sortBy="ganancia">  
                    <h:outputText value="#{ganper.ganancia}">
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>  
                </p:column> 

                <p:column headerText="#{sabmsg['sab.perdida.lbl']}"
                          style="color:#{(ganper.ganancia lt ganper.perdida)?'red':'black'};"
                          sortBy="perdida">  
                    <h:outputText value="#{ganper.perdida}">
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>
                </p:column>                

                <p:column headerText="#{sabmsg['sab.fecha.agregado']}"
                          sortBy="fecha" filterBy="fechaCreacionFormateada">  
                    <h:outputText value="#{ganper.fechaCreacionFormateada}" />  
                </p:column>
            </p:dataTable>            
        </p:outputPanel>

    </h:form>

    <script>
        $(function() {
            $("#reptbygrupoganperdform").attr("autocomplete", "off");
        });
        $(document).ready(function() {
            $('#grupos').val(0);
        });
    </script>
</ui:composition>