<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div style="padding-bottom:15px;">
        <h:outputFormat styleClass="banca-section-subtitle"
                        value="#{sabmsg['sab.banca.viewing.loteria.lbl']}">
            <f:param value="#{bancaBean.popupHandler.model.codigo}"/>
        </h:outputFormat>
    </div>
    <p:dataTable id="viewBancaLoteriaDT" style="width: 450px;font-size:12px;"
                 paginator="true" rows="5" var="bancalote" sortMode="single"
                 value="#{bancaBean.popupHandler.loteriasDeBanca}" 
                 styleClass="banca-table"
                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                 rowsPerPageTemplate="5,10,15">
        <p:column headerText="#{sabmsg['sab.codigo.lbl']}"
                  sortBy="codigo">  
            <h:outputText value="#{bancalote.codigo}" />  
        </p:column> 

        <p:column headerText="#{sabmsg['sab.status.lbl']}"
                  sortBy="nombre">  
            <h:outputText value="#{bancalote.status}" />  
        </p:column>
    </p:dataTable>

    <br/>
    <p:separator/>
    <p:commandButton value="#{sabmsg['sab.cerrar.lbl']}" styleClass="fltRight"
                     title="#{sabmsg['sab.cerrar.lbl']}"
                     actionListener="#{bancaBean.popupHandler.cancelProcess}"
                     oncomplete="closeDialogoBanca();"/>
    <div class="clear"/>
</ui:composition>
