<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div style="padding-bottom:15px;">
        <h:outputFormat styleClass="banca-section-subtitle"
                        value="#{sabmsg['sab.banca.loteria.eliminando.lbl']}">
            <f:param value="#{bancaBean.popupHandler.model.codigo}"/>
        </h:outputFormat>
    </div>
    <p:dataTable id="viewBancaLoteriaDT" style="width: 450px;font-size:12px;"
                 paginator="true" rows="5" var="bancalote" sortMode="single"
                 value="#{bancaBean.popupHandler.loteriasDeBanca}" 
                 styleClass="banca-table"
                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                 rowsPerPageTemplate="5,10,15">
        <p:column headerText="#{sabmsg['sab.codigo.lbl']}"
                  sortBy="codigo">  
            <h:outputText value="#{bancalote.codigo}" />  
        </p:column> 

        <p:column headerText="#{sabmsg['sab.status.lbl']}"
                  sortBy="nombre">  
            <h:outputText value="#{bancalote.status}" />  
        </p:column>
        
        <p:column headerText="#{sabmsg['sab.operaciones.lbl']}"
                  sortBy="nombre" styleClass="banca-txt-align-center">  
             <p:commandLink title="#{sabmsg['sab.banca.loteria.eliminar.lbl']}"
                           actionListener="#{bancaBean.popupHandler.execute}"
                           styleClass="banca-non-txt-decoration"
                           update=":mantbancaform:viewBancaLoteriaDT"
                           oncomplete="handleBancaOperationResponse(xhr, status, args);">
                <img src="../../resources/images/minus_big.png" 
                     style="height:20px;width: 20px;"/>
                <f:param value="#{bancalote.id}" name="loteriaId"/>
            </p:commandLink>
        </p:column>        
    </p:dataTable>
    <br/>
    <p:separator/>
    <p:commandButton value="#{sabmsg['sab.cerrar.lbl']}" styleClass="fltRight"
                     title="#{sabmsg['sab.cerrar.lbl']}"
                     actionListener="#{bancaBean.popupHandler.cancelProcess}"
                     oncomplete="closeDialogoBanca();"/>
    <div class="clear"/>
</ui:composition>
