<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="../../layout/master.xhtml">	

    <ui:define name="content">
        <ui:include src="./juego.xhtml"/>
    </ui:define>
</ui:composition>