<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    
    <div style="padding-bottom: 20px;">
        <p:outputLabel styleClass="banca-section-title" 
                       value="#{sabmsg['sab.juego.mantenimiento.lbl']}"/>
    </div>
    
    <h:form id="mantjuegoform" prependId="false">

        <div style="padding-bottom: 8px;">
            <p:commandButton value="#{sabmsg['sab.juego.agregar.lbl']}"
                             title="#{sabmsg['sab.juego.agregar.lbl']}"
                             styleClass="banca-buttons" update="juegdialog"
                             actionListener="#{juegoBean.openCreatePopup}"
                             oncomplete="openDialogoJuego();"/>
        </div>

        <div class="banca-mantenimiento-tbl-msg-div banca-mantenimiento-tbl-msg-font">
            <p:messages id="grow" autoUpdate="true" for="juegomantmsg"/>
        </div>
        <p:dataTable id="juegoDT" style="width: 800px;font-size:12px;"
                     paginator="true" rows="10" var="juego" sortMode="single"
                     value="#{juegoBean.modelBean.juegoList}" styleClass="banca-table"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                     rowsPerPageTemplate="5,10,15">
            <p:column headerText="#{sabmsg['sab.codigo.lbl']}"
                      sortBy="codigo">  
                <h:outputText value="#{juego.codigo}" />  
            </p:column> 

            <p:column headerText="#{sabmsg['sab.nombre.lbl']}"
                      sortBy="nombre">  
                <h:outputText value="#{juego.nombre}" />  
            </p:column> 
            
            <p:column headerText="#{sabmsg['sab.status.lbl']}"
                      sortBy="status">  
                <h:outputText value="#{juego.status}" />  
            </p:column> 

            <p:column headerText="#{sabmsg['sab.fecha.creacion']}"
                      sortBy="fechaCreacion">  
                <h:outputText value="#{juego.fechaCreacion}">
                    <f:convertDateTime pattern="dd-MM-yyyy"/>
                </h:outputText>  
            </p:column>

            <p:column headerText="#{sabmsg['sab.fecha.actualizado']}"
                      sortBy="fechaActualizacion">  
                <h:outputText value="#{juego.fechaActualizacion}">
                    <f:convertDateTime pattern="dd-MM-yyyy"/>
                </h:outputText>
            </p:column>
            
            <p:column headerText="#{sabmsg['sab.operaciones.lbl']}"
                      styleClass="banca-txt-align-center">  
                <p:commandLink title="#{sabmsg['sab.juego.actualizar.lbl']}"
                               actionListener="#{juegoBean.openUpdatePopup}"
                               update=":mantjuegoform:juegdialog"
                               oncomplete="openDialogoJuego();">
                    <img src="../../resources/images/edit-notes.png" 
                         style="height:20px;width: 20px;"/>
                    <f:param value="#{juego.id}" name="juegoId"/>
                </p:commandLink>
                <h:outputText value="&#160;" />
                <h:outputText value="&#160;" /> 
                <p:commandLink title="#{sabmsg['sab.juego.eliminar.lbl']}"
                               actionListener="#{juegoBean.openDeletePopup}"
                               oncomplete="openDialogoJuego();"
                               update=":mantjuegoform:juegdialog"
                               styleClass="banca-non-txt-decoration">
                    <img src="../../resources/images/delete.png" 
                         style="height:20px;width: 20px;"/>
                    <f:param value="#{juego.id}" name="juegoId"/>
                </p:commandLink>                
            </p:column>            
        </p:dataTable>          
    
        <ui:include src="./juegopopup.xhtml"/>
        
        <p:remoteCommand name="updateJuegoAll" update="juegoDT" process="juegoDT"
                         ignoreAutoUpdate="true"/>
    </h:form>
    <script>
        function openDialogoJuego(){
            PF('juegodlg').show();
        }
        
        function closeDialogoJuego(){
            PF('juegodlg').hide(); 
        }
        
        function handleJuegoOperationResponse(xhr, status, args) { 
            if(args){
                if(args.operationStatus==="000"){
                    closeDialogoJuego();
                    updateJuegoAll();
                }else if(args.operationStatus==="001"){
                    
                }
            }
        }
    </script>
</ui:composition>