<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    
    <span class="red-text bold-text">*</span>
    <h:outputLabel escape="true" value="&#160;"/> #{sabmsg['sab.campos.requeridos']}
        
    <h:panelGrid columns="3" cellpadding="3" cellspacing="1" 
                 style="padding-top: 15px;" width="100%">

        <h:outputLabel styleClass="red-text bold-text" value="*"/>
        <h:outputLabel value="#{sabmsg['sab.nombre.lbl']}" 
                       styleClass="banca-popup-field-name"/> 
        <h:inputText value="#{juegoBean.popupHandler.model.nombre}"
                     size="30"/>
        
        <h:outputLabel escape="true" value="&#160;"/>
        <h:outputLabel value="#{sabmsg['sab.status.lbl']}" 
                       styleClass="banca-popup-field-name"/> 
        <h:selectOneMenu
            value="#{juegoBean.popupHandler.model.status}">
            <f:selectItem itemValue="A" itemLabel="#{sabmsg['sab.activo.lbl']}"/>
            <f:selectItem itemValue="I" itemLabel="#{sabmsg['sab.inactivo.lbl']}"/>
        </h:selectOneMenu>          
    </h:panelGrid>
    <p:separator/>
    <p:commandButton value="#{sabmsg['sab.actualizar.lbl']}" styleClass="fltRight"
                     title="#{sabmsg['sab.actualizar.lbl']}"
                     oncomplete="handleJuegoOperationResponse(xhr, status, args);"
                     actionListener="#{juegoBean.popupHandler.execute}"/>    
    <p:commandButton value="#{sabmsg['sab.cancelar.lbl']}" styleClass="fltRight"
                     title="#{sabmsg['sab.cancelar.lbl']}" update="juegdialog"
                     actionListener="#{juegoBean.popupHandler.cancelProcess}"
                     oncomplete="closeDialogoJuego();"/>
    <div class="clear"/>
</ui:composition>