<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:dialog widgetVar="juegodlg" showHeader="false" dynamic="true"
              modal="true" closable="true" resizable="false" position="center"
              id="juegdialog" style="min-width: 400px; max-width: 500px;">
        <h:panelGrid columns="2" width="100%">
            <h3 class="fltLeft">
                #{juegoBean.popupHandler.popupTitle}
            </h3>
            <p:commandLink update="juegdialog" oncomplete="closeDialogoJuego();"
                actionListener="#{juegoBean.popupHandler.cancelProcess}"
                styleClass="fltRight">
                <img src="../../resources/images/close.png" class="banca-close-dlg-img"/>
            </p:commandLink>
        </h:panelGrid>
        <div class="clear"/>
        <p:outputPanel id="juegodlgbody">
            <div style="padding-bottom: 8px;" class="banca-message-style">
                <p:messages id="msgjuegos" closable="true"
                            autoUpdate="true" for="juegdlg"/>
            </div>

            <div style="font-size:12px;">
                <ui:include src="./#{juegoBean.popupHandler.fileName}.xhtml"/>
            </div>
        </p:outputPanel>    
    </p:dialog>

</ui:composition>