<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"> 
    <h:head>
        <h:outputStylesheet library="css" name="banca-project-css.css"/>

    </h:head>
    <h:body> 
        <h:form id="generalForm"  prependId="false">
        <div style="border-width:2px; border-color:green; border-style:solid;">

            <ui:insert name="header" >
            
                    <ui:include src="./header.xhtml" />
            </ui:insert> 
        </div>
        <br/>
        <div style="border-width:2px; border-color:black; border-style:solid;">
            <ui:insert name="content" >
                <ui:include src="./content.xhtml" />
            </ui:insert>    
        </div>
        <br/>
        <div style="border-width:2px; border-color:red; border-style:solid;">
            <ui:insert name="footer" >
                <ui:include src="./footer.xhtml" />
            </ui:insert>
        </div>
        </h:form>
    </h:body>
</html>
