<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">
    <body>


        <p:menubar >
            <p:submenu label="Archivo" icon="ui-icon-document">
                <p:menuitem value="Salir" url="#"></p:menuitem>
            </p:submenu>

            <p:submenu  label="Mantenimiento" icon="ui-icon-gear">
                <p:menuitem  value="Consorcio" update=":generalForm:contentPanel" actionListener="#{consorcioBean.navigate}" ></p:menuitem>
                <p:separator style="width:100%;height:1px" />

                <p:menuitem  value="Grupo" update=":generalForm:contentPanel"  actionListener="#{grupoBean.navigate}" ></p:menuitem>
                <p:separator style="width:100%;height:1px" />

                <p:menuitem value="Banca" update=":generalForm:contentPanel" actionListener="#{bancaBean.navigate}"></p:menuitem>
                <p:separator style="width:100%;height:1px" />

                <p:menuitem value="Juego" url="#"></p:menuitem>
                <p:separator style="width:100%;height:1px" />
                <p:menuitem value="Loteria" url="#"></p:menuitem>
                <p:separator style="width:100%;height:1px" />



            </p:submenu>

            <p:menuitem value="Gastos"  update=":generalForm:contentPanel" actionListener="#{gastoBean.navigate}"></p:menuitem>
            <p:menuitem value="Cobro" url="#"></p:menuitem>             
            <p:menuitem value="Reportes" url="#"></p:menuitem>

        </p:menubar>

        <p:remoteCommand name="lazyload" actionListener="#{consorcioBean.navigate}" update=":generalForm:contentPanel">  

        </p:remoteCommand>  

        <p:remoteCommand name="lazyloa" actionListener="#{bancaBean.navigate}" update=":generalForm:contentPanel">  

        </p:remoteCommand>  

    </body>
</html>
