<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div style="padding-bottom: 28px;">
        <p:outputLabel styleClass="banca-section-title" 
                       value="#{sabmsg['sab.transaccion.lbl']}"/>
    </div>

    <h:form id="transaccionform" prependId="false">
        <div class="banca-mantenimiento-tbl-msg-font">
            <p:messages autoUpdate="true"/>
        </div>

        <div style="padding-top:5px;">
            <h:outputText styleClass="banca-font-size-16 bold-text"
                          value="#{sabmsg['sab.filtrar.msg.lbl']}"/>
        </div>

        <p:outputPanel id="transaccionOPanel">            

            <div style="padding-top:15px;width:980px;">
                <p:panel header="#{sabmsg['sab.filtros.lbl']}" style="float:left;"
                         styleClass="filtroGastos">
                    <h:panelGrid styleClass="gastoFilterClass" columns="8">
                        <h:outputText styleClass="banca-font-size-12 bold-text"
                                      value="#{sabmsg['sab.banca.seleccion.grupo']}" />
                        <h:outputText value="&#160;" />
                        <h:selectOneMenu id="grupos"
                                         value="#{transaccionBean.modelBean.inputBean.grupoId}">
                            <f:selectItem itemLabel="[Seleccione un Grupo]" itemValue="0"/>  
                            <f:selectItems value="#{transaccionBean.gruposSI}"/>
                            <p:ajax event="change" update="transaccionAutoCom" process="@this"/>
                        </h:selectOneMenu>
                        <h:outputText value="&#160;"/>

                        <h:outputText styleClass="banca-font-size-12 bold-text"
                                      value="Fecha Inicial"/>
                        <h:outputText value="&#160;"/>
                        <p:calendar id="popupButtonCal" showOn="button" pattern="yyyy-MM-dd"
                                    value="#{transaccionBean.modelBean.inputBean.initDate}"
                                    styleClass="gastoFilterCalendarClass"
                                    converterMessage="#{sabmsg['sab.gastos.init.date.incorrecta']}">
                            <p:ajax event="dateSelect" update="popupButtonCal2"/>
                        </p:calendar>
                        <h:outputText value="&#160;"/>

                        <h:outputText styleClass="banca-font-size-12 bold-text"
                                      value="Seleccione una banca" />
                        <h:outputText value="&#160;"/>
                        <p:autoComplete id="transaccionAutoCom" disabled="#{transaccionBean.modelBean.inputBean.grupoId eq null
                                                                            or transaccionBean.modelBean.inputBean.grupoId lt 1}"
                                        value="#{transaccionBean.modelBean.inputBean.codigoBanca}"
                                        completeMethod="#{transaccionBean.bancaAutocomplete}"/>                        
                        <h:outputText value="&#160;"/>                    

                        <h:outputText styleClass="banca-font-size-12 bold-text"
                                      value="Fecha Final" />
                        <h:outputText value="&#160;"/>
                        <p:calendar id="popupButtonCal2" showOn="button" pattern="yyyy-MM-dd"
                                    mindate="#{transaccionBean.modelBean.inputBean.initDate}"
                                    value="#{transaccionBean.modelBean.inputBean.finalDate}"
                                    converterMessage="#{sabmsg['sab.gastos.final.date.incorrecta']}"
                                    styleClass="gastoFilterCalendarClass"
                                    disabled="#{transaccionBean.modelBean.inputBean.initDate eq null}"/>
                        <h:outputText value="&#160;"/>                   

                    </h:panelGrid>
                </p:panel>
                <p:panel style="float:right;"
                         styleClass="accionesFiltroGastos" header="#{sabmsg['sab.filtros.acc.lbl']}">
                    <h:panelGrid styleClass="gastoFilterClass" style="width:100%;">
                        <p:commandButton value="#{sabmsg['sab.buscar.lbl']}" update=":transaccionform"  
                                         style="width:120px;" actionListener="#{transaccionBean.executeSearch}" />
                        <p:commandButton value="#{sabmsg['sab.filtros.limpiar.lbl']}" update=":transaccionform"  
                                         style="width:120px;" actionListener="#{transaccionBean.limpiarFiltro}"/>                        
                    </h:panelGrid>
                </p:panel>
            </div>
            <div style="clear:both;"/>            
            <div style="padding-top:10px;width:1100px;">
                <p:panel header="#{sabmsg['sab.total.transaccion.lbl']}"
                         styleClass="filtroGastos" style="width:1095px">
                    <table>
                        <tr> 
                            <td class="bold-text">#{sabmsg['sab.total.ventas.lbl']}</td>
                            <td>
                                <h:outputText value="#{transaccionBean.modelBean.sumatoriaTransaccion.ventaTotal}">
                                    <f:convertNumber type="currency" currencySymbol="$" />
                                </h:outputText> 
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>                            
                            <td class="bold-text">#{sabmsg['sab.total.premios.lbl']}</td>
                            <td>
                                <h:outputText value="#{transaccionBean.modelBean.sumatoriaTransaccion.premioTotal}">
                                    <f:convertNumber type="currency" currencySymbol="$" />
                                </h:outputText>                             
                            </td>
                        </tr>
                    </table>
                    <table style="padding-top:12px;">
                        <tr> 
                            <td class="bold-text">#{sabmsg['sab.juego1.venta']}</td>
                            <td>
                                <h:outputText value="#{transaccionBean.modelBean.sumatoriaTransaccion.juego1Venta}">
                                    <f:convertNumber type="currency" currencySymbol="$" />
                                </h:outputText>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>                            
                            <td class="bold-text">#{sabmsg['sab.juego2.venta']}</td>
                            <td>
                                <h:outputText value="#{transaccionBean.modelBean.sumatoriaTransaccion.juego2Venta}">
                                    <f:convertNumber type="currency" currencySymbol="$" />
                                </h:outputText>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>                            
                            <td class="bold-text">#{sabmsg['sab.juego3.venta']}</td>
                            <td>
                                <h:outputText value="#{transaccionBean.modelBean.sumatoriaTransaccion.juego3Venta}">
                                    <f:convertNumber type="currency" currencySymbol="$" />
                                </h:outputText>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>                            
                            <td class="bold-text">#{sabmsg['sab.juego4.venta']}</td>
                            <td>
                                <h:outputText value="#{transaccionBean.modelBean.sumatoriaTransaccion.juego4Venta}">
                                    <f:convertNumber type="currency" currencySymbol="$" />
                                </h:outputText>
                            </td>
                        </tr>
                        <tr> 
                            <td class="bold-text">#{sabmsg['sab.juego1.premio']}</td>
                            <td>
                                <h:outputText value="#{transaccionBean.modelBean.sumatoriaTransaccion.juego1Premio}">
                                    <f:convertNumber type="currency" currencySymbol="$" />
                                </h:outputText>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>                            
                            <td class="bold-text">#{sabmsg['sab.juego2.premio']}</td>
                            <td>
                                <h:outputText value="#{transaccionBean.modelBean.sumatoriaTransaccion.juego2Premio}">
                                    <f:convertNumber type="currency" currencySymbol="$" />
                                </h:outputText>                            
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>                            
                            <td class="bold-text">#{sabmsg['sab.juego3.premio']}</td>
                            <td>
                                <h:outputText value="#{transaccionBean.modelBean.sumatoriaTransaccion.juego3Premio}">
                                    <f:convertNumber type="currency" currencySymbol="$" />
                                </h:outputText>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>                            
                            <td class="bold-text">#{sabmsg['sab.juego4.premio']}</td>
                            <td>
                                <h:outputText value="#{transaccionBean.modelBean.sumatoriaTransaccion.juego4Premio}">
                                    <f:convertNumber type="currency" currencySymbol="$" />
                                </h:outputText>
                            </td>                            
                        </tr>                        
                    </table>                    
                </p:panel>
            </div>

            <p:dataTable id="transaccionDT" style="width: 100%;font-size:12px; padding-top: 20px;"
                         paginator="true" rows="10" var="detalle" sortMode="single"
                         value="#{transaccionBean.modelBean}" lazy="true"
                         styleClass="banca-table" widgetVar="transaccionDTWidget"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                         rowsPerPageTemplate="5,10,15">

                <p:column headerText="#{sabmsg['sab.grupo.lbl']}"
                          sortBy="bancaLoteria.banca.id">  
                    <h:outputText value="#{detalle.bancaLoteria.banca.grupoId.codigo}" />  
                </p:column>                

                <p:column headerText="#{sabmsg['sab.banca.lbl']}"
                          sortBy="bancaLoteria.banca.id">  
                    <h:outputText value="#{detalle.bancaLoteria.banca.codigo}" />  
                </p:column> 

                <p:column headerText="#{sabmsg['sab.loteria.lbl']}"
                          sortBy="bancaLoteria.loteria.id">  
                    <h:outputText value="#{detalle.bancaLoteria.loteria.codigo}" />  
                </p:column> 

                <p:column headerText="#{sabmsg['sab.juego1.venta']}"
                          sortBy="juego1Venta">  
                    <h:outputText value="#{detalle.juego1Venta}">
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>
                </p:column>                

                <p:column headerText="#{sabmsg['sab.juego1.premio']}"
                          sortBy="juego1Premio">  
                    <h:outputText value="#{detalle.juego1Premio}" >
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>  
                </p:column>

                <p:column headerText="#{sabmsg['sab.juego2.venta']}"
                          sortBy="juego2Venta">  
                    <h:outputText value="#{detalle.juego2Venta}">
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>  
                </p:column>                

                <p:column headerText="#{sabmsg['sab.juego2.premio']}"
                          sortBy="juego2Premio">  
                    <h:outputText value="#{detalle.juego2Premio}">
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>  
                </p:column>

                <p:column headerText="#{sabmsg['sab.juego3.venta']}"
                          sortBy="juego3Venta">  
                    <h:outputText value="#{detalle.juego3Venta}" >
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText> 
                </p:column>                

                <p:column headerText="#{sabmsg['sab.juego3.premio']}"
                          sortBy="juego3Premio">  
                    <h:outputText value="#{detalle.juego3Premio}" >
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText> 
                </p:column>

                <p:column headerText="#{sabmsg['sab.juego4.venta']}"
                          sortBy="juego4Venta">  
                    <h:outputText value="#{detalle.juego4Venta}">
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText> 
                </p:column>                

                <p:column headerText="#{sabmsg['sab.juego4.premio']}"
                          sortBy="juego4Premio">  
                    <h:outputText value="#{detalle.juego4Premio}" >
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText> 
                </p:column>

                <p:column headerText="#{sabmsg['sab.fecha.agregado']}"
                          sortBy="fecha_efectiva">  
                    #{detalle.fechaEfectivaFormateada}
                </p:column>           
            </p:dataTable>
        </p:outputPanel>

    </h:form>

    <script>
        $(function() {
            $("#transaccionform").attr("autocomplete", "off");
        });
        $(document).ready(function() {
            $('#grupos').val(0);
        });
    </script>
</ui:composition>