<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:dialog widgetVar="gastomaindlg" showHeader="false" dynamic="true"
              modal="true" closable="true" resizable="false" position="center"
              id="gastomaidialog" style="min-width: 450px; max-width: 550px;">
        <h:panelGrid columns="2" width="100%">
            <h3 class="fltLeft">
                #{gastoBean.popupHandler.popupTitle}
            </h3>
            <p:commandLink update="gastomaidialog" oncomplete="closeDialogoGastoMain();"
                           styleClass="fltRight">
                <img src="../../resources/images/close.png" class="banca-close-dlg-img"/>
            </p:commandLink>
        </h:panelGrid>
        <div class="clear"/>
        <p:outputPanel id="gastomaindlgbody">
            <div style="padding-bottom: 8px;width:400px;" class="banca-message-style">
                <p:messages id="msggastomain" closable="true"
                            autoUpdate="true" for="gastoagrdlg"/>
            </div>

            <div style="font-size:12px;">
                <ui:include src="./#{gastoBean.popupHandler.fileName}.xhtml"/>
            </div>
        </p:outputPanel>    
    </p:dialog>
</ui:composition>