<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    
        <h:outputText styleClass="bold-text " value="#{sabmsg['sab.eliminar.gasto.lbl']}"/>
    <br/>
    
    <h:panelGrid columns="3" style="padding-top:10px;">
        <h:outputText styleClass="bold-text banca-font-size-13" 
                      value="#{sabmsg['sab.codigo.lbl']}"/>
        <h:outputText value="&#160;&#160;"/> 
        <h:outputText  value="#{gastoBean.popupHandler.selectedGasto.id}"/>
        
        <h:outputText styleClass="bold-text banca-font-size-13" 
                      value="#{sabmsg['sab.grupo.lbl']}"/>
        <h:outputText value="&#160;&#160;"/>
        <h:outputText  value="#{gastoBean.popupHandler.selectedGasto.banca.grupoId.codigo}"/>
        
        <h:outputText styleClass="bold-text banca-font-size-13" 
                      value="#{sabmsg['sab.banca.lbl']}"/>
        <h:outputText value="&#160;&#160;"/>
        <h:outputText  value="#{gastoBean.popupHandler.selectedGasto.banca.codigo}"/>
        
        <h:outputText styleClass="bold-text banca-font-size-13" 
                      value="#{sabmsg['sab.gasto.tipo']}"/>
        <h:outputText value="&#160;&#160;"/>
        <h:outputText  value="#{gastoBean.popupHandler.selectedGasto.tipoGasto.descripcion}"/>
        
        <h:outputText styleClass="bold-text banca-font-size-13" 
                      value="#{sabmsg['sab.gasto.valor']}"/>
        <h:outputText value="&#160;&#160;"/>
        <h:outputText  value="#{gastoBean.popupHandler.selectedGasto.monto}"/>

        <h:outputText styleClass="bold-text banca-font-size-13" 
                      value="#{sabmsg['sab.fecha.agregado']}"/>        
        <h:outputText value="&#160;&#160;"/>
        <h:outputText value="#{gastoBean.popupHandler.selectedGasto.fecha}">
                    <f:convertDateTime pattern="dd-MM-yyyy"/>
                </h:outputText>       
    </h:panelGrid>    
        <p:separator/>
    <p:commandButton value="#{sabmsg['sab.eliminar.lbl']}" styleClass="fltRight"
                     title="#{sabmsg['sab.eliminar.lbl']}"
                     actionListener="#{gastoBean.popupHandler.execute}"
                     oncomplete="handleGastoMainResponse(xhr, status, args);"/>

    <p:commandButton value="#{sabmsg['sab.cancelar.lbl']}" styleClass="fltRight"
                     title="#{sabmsg['sab.cancelar.lbl']}" update="gastomaidialog"
                     actionListener="#{gastoBean.popupHandler.cancelProcess}" 
                     oncomplete="closeDialogoGastoMain();"/>
    <div class="clear"/>
</ui:composition>