<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div style="padding-bottom: 28px;">
        <p:outputLabel styleClass="banca-section-title" 
                       value="#{sabmsg['sab.gastos.ver.detalle.lbl']}"/>
    </div>

    <h:form id="mantgastoform" prependId="false">

        <div style="padding-top:5px; width:1000px;" 
             class="banca-mantenimiento-tbl-msg-font">
            <p:messages autoUpdate="true" closable="true"/>
        </div>        

        <div style="padding-top:5px;">
            <h:outputText styleClass="banca-font-size-16 bold-text"
                          value="#{sabmsg['sab.filtrar.msg.lbl']}"/>
        </div>

        <div style="padding-top:15px; padding-bottom:8px;width:980px">
            <p:panel header="#{sabmsg['sab.filtros.lbl']}" style="float:left;"
                     styleClass="filtroGastos">
                <h:panelGrid styleClass="gastoFilterClass" columns="8">
                    <h:outputText styleClass="banca-font-size-12 bold-text"
                                  value="#{sabmsg['sab.banca.seleccion.grupo']}"/>
                    <h:outputText value="&#160;"/>
                    <h:selectOneMenu id="grupos"
                                     value="#{gastoBean.modelBean.inputBean.grupoId}">
                        <f:selectItem itemLabel="[Seleccione un Grupo]" itemValue="0"/>  
                        <f:selectItems value="#{gastoBean.gruposSI}"/>
                        <p:ajax event="change" update="gastoAutoCom" process="@this"/>                    
                    </h:selectOneMenu>
                    <h:outputText value="&#160;"/>
               


                    <h:outputText styleClass="banca-font-size-12 bold-text"
                                  value="Fecha Inicial"/>
                    <h:outputText value="&#160;"/>
                    <p:calendar id="popupButtonCal" showOn="button" pattern="yyyy-MM-dd"
                                value="#{gastoBean.modelBean.inputBean.initDate}"
                                styleClass="gastoFilterCalendarClass"
                                converterMessage="#{sabmsg['sab.gastos.init.date.incorrecta']}">
                        <p:ajax event="dateSelect" update="popupButtonCal2"/>
                    </p:calendar>
                    <h:outputText value="&#160;"/>

                    <h:outputText styleClass="banca-font-size-12 bold-text"
                                  value="Seleccione una banca" />
                    <h:outputText value="&#160;"/>
                    <p:autoComplete id="gastoAutoCom" disabled="#{gastoBean.modelBean.inputBean.grupoId eq null
                                                                  or gastoBean.modelBean.inputBean.grupoId lt 1}"
                                    value="#{gastoBean.modelBean.inputBean.codigoBanca}"
                                    completeMethod="#{gastoBean.bancaAutocomplete}"/>
                    <h:outputText value="&#160;"/>                    
                    
                    <h:outputText styleClass="banca-font-size-12 bold-text"
                                  value="Fecha Final" />
                    <h:outputText value="&#160;"/>
                    <p:calendar id="popupButtonCal2" showOn="button" pattern="yyyy-MM-dd"
                                mindate="#{gastoBean.modelBean.inputBean.initDate}"
                                value="#{gastoBean.modelBean.inputBean.finalDate}"
                                converterMessage="#{sabmsg['sab.gastos.final.date.incorrecta']}"
                                styleClass="gastoFilterCalendarClass"
                                disabled="#{gastoBean.modelBean.inputBean.initDate eq null}"/>
                    <h:outputText value="&#160;"/>
                    
                    <h:outputText styleClass="banca-font-size-12 bold-text"
                                  value="#{sabmsg['sab.banca.seleccion.tipo.gasto']}" />
                    <h:outputText value="&#160;"/>
                    <h:selectOneMenu id="tipoGastosSI"
                                     value="#{gastoBean.modelBean.inputBean.tipoGastoId}">
                        <f:selectItem itemLabel="#{sabmsg['sab.banca.seleccion.tipo.gasto.si']}" 
                                      itemValue="0"/>  
                        <f:selectItems value="#{gastoBean.tipoGastosSI}"/>                  
                    </h:selectOneMenu>
                    <h:outputText value="&#160;"/>                    
                    
                </h:panelGrid>
            </p:panel>
            <p:panel style="float:right;"
                styleClass="accionesFiltroGastos" header="#{sabmsg['sab.filtros.acc.lbl']}">
                <h:panelGrid styleClass="gastoFilterClass" style="width:100%;">
                        <p:commandButton value="#{sabmsg['sab.buscar.lbl']}" update=":mantgastoform"  
                             actionListener="#{gastoBean.executeSearch}" style="width:120px;"/>
                        <p:commandButton value="#{sabmsg['sab.filtros.limpiar.lbl']}" update=":mantgastoform"  
                                         actionListener="#{gastoBean.limpiarFiltro}" style="width:120px;"/>                        
                </h:panelGrid>
            </p:panel>
           
        </div>
        <div style="clear:both;"/>

        <p:dataTable id="gastoDT" style="width: 1000px;font-size:12px; padding-top:15px;"
                     paginator="true" rows="10" var="gasto" sortMode="single"
                     value="#{gastoBean.modelBean}" lazy="true"
                     styleClass="banca-table"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                     rowsPerPageTemplate="5,10,15">
            <p:column headerText="#{sabmsg['sab.codigo.lbl']}"
                      sortBy="id">  
                <h:outputText value="#{gasto.id}" />  
            </p:column> 

            <p:column headerText="#{sabmsg['sab.grupo.lbl']}"
                      sortBy="gr.codigo">  
                <h:outputText value="#{gasto.banca.grupoId.codigo}" />  
            </p:column>            
            
            <p:column headerText="#{sabmsg['sab.banca.lbl']}"
                      sortBy="b.codigo">  
                <h:outputText value="#{gasto.banca.codigo}" />  
            </p:column>             

            <p:column headerText="#{sabmsg['sab.gasto.tipo']}"
                      sortBy="tg.descripcion">  
                <h:outputText value="#{gasto.tipoGasto.descripcion}" />  
            </p:column> 

            <p:column headerText="#{sabmsg['sab.gasto.valor']}"
                      sortBy="monto">  
                <h:outputText value="#{gasto.monto}" />  
            </p:column>             

            <p:column headerText="#{sabmsg['sab.fecha.agregado']}"
                      sortBy="fecha_efectiva">  
                <h:outputText value="#{gasto.fecha}">
                    <f:convertDateTime pattern="dd-MM-yyyy"/>
                </h:outputText>
            </p:column>
            
            <p:column headerText="#{sabmsg['sab.operaciones.gasto.lbl']}"
                      styleClass="banca-txt-align-center">  
                <p:commandLink title="#{sabmsg['sab.eliminar.gasto']}"
                               action="#{gastoBean.openDeleteGasto(gasto)}"
                               oncomplete="openDialogoGastoMain();"
                               styleClass="banca-non-txt-decoration">
                    <img src="../../resources/images/delete.png" 
                         style="height:20px;width: 20px;"/>
                </p:commandLink>
            </p:column>            
        </p:dataTable>
        <ui:include src="./gastomainpopup.xhtml"/>
        <p:remoteCommand update="gastoDT" name="updategastodt" ignoreAutoUpdate="true"/>         
    </h:form>
    <script>
        $(function() {
            $("#mantgastoform").attr("autocomplete", "off");
        });
        $(document).ready(function() {
            $('#grupos').val(0);
        });
        
        function openDialogoGastoMain() {
            PF('gastomaindlg').show();
        }

        function closeDialogoGastoMain() {
            PF('gastomaindlg').hide();
        }

        function handleAbrirGastoMainPopupOperationResponse(xhr, status, args) {
            if (args) {
                if (args.operationStatus === "000") {
                    openDialogoGastoMain();
                }
            }
        }

        function handleGastoMainResponse(xhr, status, args) {
            if (args) {
                if (args.operationStatus === "000") {
                    closeDialogoGastoMain();
                    updategastodt();
                }
            }
        }

    </script>
</ui:composition>