<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:dataTable id="cobroViewDT" style="width: 800px;font-size:12px;"
                 value="#{cobroBean.popupHandler.cobroVistaDetalleList}"
                 var="cobroVistaDetalle"
                 paginator="true" rows="10" 
                 styleClass="banca-table"
                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                 rowsPerPageTemplate="5,10,15">

        <p:column headerText="#{sabmsg['sab.cobro.historial.id']}">  
            <h:outputText value="#{cobroVistaDetalle.cobroHistorialId}" />  
        </p:column>

        <p:column headerText="#{sabmsg['sab.cobro.detalle_general.id']}">  
            <h:outputText value="#{cobroVistaDetalle.detalleGeneralId}" />  
        </p:column>

        <p:column headerText="#{sabmsg['sab.cobro.loteria.codigo.lbl']}">  
            <h:outputText value="#{cobroVistaDetalle.codigoLoteria}" />  
        </p:column>

        <p:column headerText="#{sabmsg['sab.cobro.banca.codigo.lbl']}">  
            <h:outputText value="#{cobroVistaDetalle.codigoBanca}" />  
        </p:column>

        <p:column headerText="#{sabmsg['sab.cobro.grupo.codigo.lbl']}">  
            <h:outputText value="#{cobroVistaDetalle.codigoGrupo}" />  
        </p:column>

        <p:column headerText="#{sabmsg['sab.cobro.monto.cobrado.lbl']}">  
            <h:outputText value="#{cobroVistaDetalle.montoCobrado}" />  
        </p:column>

        <p:column headerText="#{sabmsg['sab.cobro.fecha.lbl']}">  
            <h:outputText value="#{cobroVistaDetalle.fechaCobro}" >
                <f:convertDateTime pattern="dd-MM-yyyy"/>
            </h:outputText>  
        </p:column>


        <p:column headerText="#{sabmsg['sab.cobro.status.lbl']}">  
            <h:outputText value="#{cobroVistaDetalle.statusCobroHistorial}" >
                <f:converter converterId="cobroStatusConverter"/>
            </h:outputText>  
        </p:column>

    </p:dataTable> 
    <br/>
    <br/>
    <center>
        <p:commandButton value="Cerrar" actionListener="#{cobroBean.popupHandler.cancelProcess}" oncomplete="closeDialogoCobro();"/>
    </center>
</ui:composition>