
<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui">	


    <div style="padding-bottom: 20px;">
        <p:outputLabel styleClass="banca-section-title" 
                       value="#{sabmsg['sab.cobro.mantenimiento.lbl']}"/>
    </div>


    <h:form id="mantcobroform" prependId="false">

        <p:tabView id="tabViewCobroID">
            <p:ajax event="tabChange" listener="#{cobroBean.tabChange}" update=":mantcobroform:tabViewCobroID" /> 

            <p:tab title="Cobros">



                <h:panelGrid columns="2" style="padding-top:15px;  padding-bottom:8px;width:980px;">
                    <p:panel header="#{sabmsg['sab.filtros.lbl']}" style="float:left;"
                             styleClass="filtroGastos">
                        <h:panelGrid columns="4">

                            <h:panelGrid columns="2">
                                <h:outputText styleClass="banca-font-size-12 bold-text"
                                              value="#{sabmsg['sab.banca.seleccion.grupo']}" />

                                <h:selectOneMenu id="cobroGruposFiltro"
                                                 value="#{cobroBean.modelBean.inputBean.grupoIdForFilter}">
                                    <f:selectItem itemLabel="[Seleccione un Grupo]" itemValue="0"/>  
                                    <f:selectItems value="#{cobroBean.gruposSI}"/>
                                    <p:ajax event="change"   update=":mantcobroform:tabViewCobroID:cobroAnularMsg"/>  
                                </h:selectOneMenu>

                            </h:panelGrid>
                            <h:outputText value="&#160;"/>
                            <h:outputText value="&#160;"/>
                            <h:panelGrid columns="3">

                                <h:outputText styleClass="banca-font-size-12 bold-text"
                                              value="Fecha Efectiva"/>
                                <p:calendar id="popupButtonCal" showOn="button" pattern="yyyy-MM-dd"
                                            value="#{cobroBean.modelBean.inputBean.fechaInicial}"
                                            readonlyInput="true">
                                    <p:ajax event="dateSelect" update="popupButtonCal2,:mantcobroform:tabViewCobroID:cobroAnularMsg"/>
                                </p:calendar>
                                <h:outputText value="&#160;"/>

                                <h:outputText styleClass="banca-font-size-12 bold-text"
                                              value="Fecha Final" />

                                <p:calendar id="popupButtonCal2" showOn="button" pattern="yyyy-MM-dd"
                                            mindate="#{cobroBean.modelBean.inputBean.fechaInicial}"
                                            value="#{cobroBean.modelBean.inputBean.fechaFinal}"
                                            readonlyInput="true"
                                            disabled="#{cobroBean.modelBean.inputBean.fechaInicial eq null}">

                                    <p:ajax event="dateSelect" update=":mantcobroform:tabViewCobroID:cobroAnularMsg"/>
                                </p:calendar>
                            </h:panelGrid>
                            <h:outputText value="&#160;"/>
                            <h:outputText value="&#160;"/>

                        </h:panelGrid>
                    </p:panel>
                    <p:panel style="float:right;"
                             styleClass="accionesFiltroGastos" header="#{sabmsg['sab.filtros.acc.lbl']}">
                        <h:panelGrid styleClass="gastoFilterClass" style="width:100%;">
                            <p:commandButton  value="#{sabmsg['sab.buscar.lbl']}" 
                                              actionListener="#{cobroBean.executeFilter}" update=":mantcobroform:tabViewCobroID:cobroAnularMsg,:mantcobroform:tabViewCobroID"
                                              style="width:120px;"/>
                            <p:commandButton value="#{sabmsg['sab.filtros.limpiar.lbl']}" actionListener="#{cobroBean.cleanFilter}" update=":mantcobroform:tabViewCobroID:cobroAnularMsg,:mantcobroform:tabViewCobroID" 
                                             style="width:120px;"/>                        
                        </h:panelGrid>
                    </p:panel>
                </h:panelGrid>


                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>
                <h:outputText value="&#160;"/>

                <h:panelGroup layout="block" style="width: 800px;">

                    <p:messages id="cobroAnularMsg"  for="cobroAnularMsg"  showDetail="true" showSummary="true" closable="true"  />
                    <p:messages autoUpdate="true"   closable="true"/>
                </h:panelGroup>

                <p:dataTable id="cobroDT" style="width: 800px;font-size:12px;"
                             value="#{cobroBean.modelBean}"
                             lazy="true"
                             rows="10"
                             var="cobro"
                             paginator="true"  
                             styleClass="banca-table"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                             rowsPerPageTemplate="5,10,15">

                    <p:column headerText="#{sabmsg['sab.cobro.id.lbl']}">  
                        <h:outputText value="#{cobro.cobroId}" />  
                    </p:column>

                    <p:column headerText="#{sabmsg['sab.cobro.monto.cobrado.lbl']}">  
                        <h:outputText value="#{cobro.montoTotal}" />  
                    </p:column> 

                    <p:column headerText="#{sabmsg['sab.cobro.grupo.codigo.lbl']}">  
                        <h:outputText value="#{cobro.codigoGrupo}" />  
                    </p:column> 

                    <p:column headerText="#{sabmsg['sab.cobro.status.lbl']}">  
                        <h:outputText value="#{cobro.cobroStatus}" >
                            <f:converter converterId="cobroStatusConverter"/>`
                        </h:outputText>  
                    </p:column> 



                    <p:column headerText="#{sabmsg['sab.cobro.fecha.lbl']}">  
                        <h:outputText value="#{cobro.fechaEfectiva}">
                            <f:convertDateTime pattern="dd-MM-yyyy"/>
                        </h:outputText>  
                    </p:column>


                    <p:column headerText="#{sabmsg['sab.operaciones.cobro.lbl']}" styleClass="banca-txt-align-center">  


                        <p:commandLink title="#{sabmsg['sab.cobro.ver.cobro.lbl']}"
                                       styleClass="banca-non-txt-decoration" actionListener="#{cobroBean.openViewSingleDetailsPopup}" 
                                       update=":mantcobroform:cobrodialog,:mantcobroform:tabViewCobroID:cobroAnularMsg"
                                       oncomplete="handleOpenCobroPopupOperationResponse(xhr, status, args);">
                            <img src="../../resources/images/view_text.png" 
                                 style="height:20px;width: 20px;"/>

                            <f:attribute name="cobro" value="#{cobro}"/>

                        </p:commandLink>

                        <h:outputText value="&#160;" />
                        <h:outputText value="&#160;" /> 

                        <p:commandLink title="#{sabmsg['sab.cobro.ver.cobro.detalles.lbl']}"
                                       styleClass="banca-non-txt-decoration" actionListener="#{cobroBean.openViewPopup}" 
                                       update=":mantcobroform:cobrodialog,:mantcobroform:tabViewCobroID:cobroAnularMsg"
                                       oncomplete="handleOpenCobroPopupOperationResponse(xhr, status, args);">
                            <img src="../../resources/images/viewdetails.png" 
                                 style="height:20px;width: 20px;"/>

                            <f:attribute name="cobro" value="#{cobro}"/>

                        </p:commandLink>
                        <h:outputText value="&#160;" />
                        <h:outputText value="&#160;" /> 
                        <p:commandLink title="#{sabmsg['sab.cobro.anular.lbl']}"
                                       styleClass="banca-non-txt-decoration"
                                       actionListener="#{cobroBean.openCobroAnularPopup}"
                                       update=":mantcobroform:cobrodialog,:mantcobroform:tabViewCobroID:cobroAnularMsg"
                                       oncomplete="handleOpenCobroPopupOperationResponse(xhr, status, args);">
                            <img src="../../resources/images/delete.png" 
                                 style="height:20px;width: 20px;"/>

                            <f:attribute name="cobro" value="#{cobro}"/>

                        </p:commandLink>   


                    </p:column>



                </p:dataTable>  
                <p:remoteCommand name="updateCobroAll" update="cobroDT" process="cobroDT"/>

            </p:tab>


            <p:tab title="#{sabmsg['sab.cobro.aplcar.cobro.lbl']}">

                <p:messages id="cobroDetalleMsg"  for="cobroMsg"  showDetail="true" showSummary="true" closable="true"  />

                <br/>
                <br/>


                <h:panelGrid columns="4">
                    <h:outputText styleClass="banca-font-size-18 bold-text"
                                  value="#{sabmsg['sab.banca.seleccion.grupo']}" />
                    <h:outputText value="&#160;" />
                    <h:outputText value="&#160;" />
                    <h:selectOneMenu id="cobroGrupos"
                                     value="#{cobroBean.bancaGrupoCobroModelBean.inputBean.grupoId}">
                        <f:selectItem itemLabel="[Seleccione un Grupo]" itemValue="0"/>  
                        <f:selectItems value="#{cobroBean.gruposSI}"/>
                        <p:ajax listener="#{cobroBean.onGrupoSelectionChange()}"
                                event="change" update="cobroOPanel,cobroDetalleMsg" process="@this,cobroDetalleMsg"/>
                    </h:selectOneMenu>
                </h:panelGrid>

                <br/>
                <br/>

                <p:commandButton value="#{sabmsg['sab.cobro.cobrar']}" actionListener="#{cobroBean.openCreatePopup}" 
                                 update=":mantcobroform:cobrodialog,:mantcobroform:tabViewCobroID:cobroDetalleMsg"
                                 oncomplete="handleOpenCobroPopupOperationResponse(xhr, status, args);">


                </p:commandButton>



                <p:outputPanel id="cobroOPanel" style="padding-top:20px;">

                    <h:panelGroup>

                        <p:dataTable id="crearCobroDT" style="width: 900px;font-size:12px;"
                                     var="bancaGrupoCobro"
                                     value="#{cobroBean.bancaGrupoCobroModelBean.bancaGrupoCobroModelList}"
                                     styleClass="banca-scroll"
                                     selection="#{cobroBean.bancaGrupoCobroModelSelectedList}"
                                     rowSelectMode="add"
                                     rowKey="#{bancaGrupoCobro.idBanca}"
                                     scrollable="true"
                                     scrollHeight="#{cobroBean.bancaGrupoCobroModelBean.size gt 12 ? 350:null}">


                            <p:column rendered="#{cobroBean.bancaGrupoCobroModelBean.showCheckBox}"  selectionMode="multiple" style="width:1%" /> 

                            <p:column width="100px;" headerText="#{sabmsg['sab.cobro.banca.id.lbl']}">  
                                <h:outputText value="#{bancaGrupoCobro.idBanca}" />  
                            </p:column> 

                            <p:column width="100px;"  headerText="#{sabmsg['sab.cobro.deuda.lbl']}">  
                                <h:outputText value="$#{bancaGrupoCobro.deudaUI}" />  
                            </p:column> 

                            <p:column width="100px;"  filterBy="#{bancaGrupoCobro.codigoBanca}" filterMatchMode="exact" headerText="#{sabmsg['sab.cobro.banca.codigo.lbl']}">  
                                <h:outputText value="#{bancaGrupoCobro.codigoBanca}">

                                </h:outputText>  
                            </p:column>

                            <p:columnGroup  rendered="#{cobroBean.bancaGrupoCobroModelBean.showCheckBox}" type="footer">  
                                <p:row>  
                                    <p:column width="100px;"  footerText="Total:"  
                                              style="text-align:right; font-weight:bold"></p:column>  

                                    <p:column width="100px;"   style="font-weight: bold; text-align: left" footerText="$#{cobroBean.bancaGrupoCobroModelBean.deudaTotalGrupoUI}" />  

                                </p:row>  
                            </p:columnGroup>  






                        </p:dataTable>            

                        <p:remoteCommand name="updateCrearCobroAll" update="crearCobroDT" process="crearCobroDT"/>
                    </h:panelGroup>
                </p:outputPanel>
            </p:tab>





        </p:tabView>


        <ui:include src="./cobropopup.xhtml"/>

    </h:form>

    <script>
        function openDialogoCobro() {
            PF('cobrodlg').show();

        }

        function closeDialogoCobro() {
            PF('cobrodlg').hide();
        }


        function handleOpenCobroPopupOperationResponse(xhr, status, args) {
            if (args) {
                if (args.operationStatus === "000") {
                    openDialogoCobro();

                }
            }
        }



        function handleCobroOperationResponse(xhr, status, args) {
            if (args) {
                if (args.operationStatus === "000") {
                    closeDialogoCobro();
                    updateCrearCobroAll();
                    updateCobroAll();
                } else if (args.operationStatus === "001") {

                }
            }
        }
    </script>

</ui:composition>