<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <p:dialog widgetVar="cobrodlg" showHeader="false" dynamic="true"
              modal="true" closable="true" resizable="false" draggable="true" 
              id="cobrodialog">
        <h:panelGrid columns="2" width="100%">
            <h3 class="fltLeft">
                #{cobroBean.popupHandler.popupTitle}
            </h3>
            <p:commandLink update="cobrodialog" oncomplete="closeDialogoCobro();"
                actionListener="#{cobroBean.popupHandler.cancelProcess}"
                styleClass="fltRight">
                <img src="../../resources/images/close.png" class="banca-close-dlg-img"/>
            </p:commandLink>
        </h:panelGrid>
        <div class="clear"/>
        <p:outputPanel id="cobrodlgbody">
            <div style="padding-bottom: 8px;" class="banca-message-style">
                <p:messages id="msgCobros" closable="true"
                            autoUpdate="true" for="cobdlg"/>
            </div>

            <div style="font-size:12px;">
                <ui:include src="./#{cobroBean.popupHandler.fileName}.xhtml"/>
            </div>
        </p:outputPanel>    
    </p:dialog>

</ui:composition>
