<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">



    <h:outputText style="font-weight: bold" value="Estas seguro que desea anular este cobro ?"/>
    <br/>
    <br/>
    <center>
        <p:commandButton actionListener="#{cobroBean.popupHandler.execute}"
                         update=":mantcobroform:tabViewCobroID:cobroAnularMsg" 
                         oncomplete="handleCobroOperationResponse(xhr, status, args)" value="Si"/>
        <h:outputText value="&#160;" />
        <p:commandButton actionListener="#{cobroBean.popupHandler.cancelProcess}"  
                         oncomplete="closeDialogoCobro();"
                         value="No"/>
    </center>

</ui:composition>