<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">



    <p:messages id="mensajeCreatePopupCobro" for="createPopupMsg" showDetail="true"  showSummary="true" closable="true"
                autoUpdate="true" />
    <span class="red-text bold-text">*</span>
    <h:outputLabel escape="true" value="&#160;"/> #{sabmsg['sab.campos.requeridos']}
    <br/>
     <br/>

    <h:panelGrid columns="2">
        <h:panelGrid columns="3">
            <h:panelGroup/>
            <p:outputLabel value="Monto Total Seleccionado:"/>
            <p:inputText readonly="true" id="montoTotalSeleccionadoID" value="#{cobroBean.popupHandler.montoTotalBancasSeleccionadas}"/>


            <h:outputLabel styleClass="red-text bold-text" value="*"/>
            <p:outputLabel value="Total a Pagar:"/>
            <p:inputText id="totalPagarID" value="#{cobroBean.popupHandler.totalAPagarString}">
                <p:ajax event="keyup" update="devueltaID,totalACobrarID" process="@this,totalACobrarID" listener="#{cobroBean.popupHandler.refrescarTotalPagarFieldUI}" />  
            </p:inputText>

            <h:panelGroup/>
            <p:outputLabel  value="Devuelta:"/>
            <p:inputText id="devueltaID"  readonly="true" value="#{cobroBean.popupHandler.devueltaUIField}"/>

            <h:panelGroup/>
            <p:outputLabel value="Fecha:"/>
            <p:calendar id="cobroFechaCal" 
                        value="#{cobroBean.popupHandler.fechaEfectiva}"
                        showOn="button" pattern="yyyy-MM-dd"
                        readonlyInput="true" >
                <p:ajax event="dateSelect" update="mensajeCreatePopupCobro"/>


            </p:calendar>
            <h:outputLabel styleClass="red-text bold-text" value="*"/>
            <p:outputLabel value="Comentario" />
            <p:inputTextarea value="#{cobroBean.popupHandler.commentarioUIField}" style="width:235px; height:100px;" >
                <p:ajax event="keyup" update="mensajeCreatePopupCobro"/>
            </p:inputTextarea>
        </h:panelGrid>


    </h:panelGrid>

    <br/>
    <h:outputLabel styleClass="red-text bold-text" value="*"/>
    <p:outputLabel value="Detalle Moneda" style="font-weight: bold;"/>
    <br/>
    <p:panelGrid columns="2" styleClass="generalPanelGrid">
        <p:panelGrid columns="2" styleClass="generalPanelGrid">
            <h:outputText value="$1"/>
            <h:inputText value="#{cobroBean.popupHandler.monedasValoresString[0]}">
                <p:ajax event="keyup" update="totalACobrarID,devueltaID" process="@this,totalPagarID" listener="#{cobroBean.popupHandler.refrescarTotalPagarFieldUI}" />  

            </h:inputText>
            <h:outputText value="$5"/>
            <h:inputText id="monedaID5" value="#{cobroBean.popupHandler.monedasValoresString[1]}">
                <p:ajax event="keyup" update="totalACobrarID,devueltaID" process="@this,totalPagarID"   listener="#{cobroBean.popupHandler.refrescarTotalPagarFieldUI}" />  
            </h:inputText>
            <h:outputText value="$10"/>
            <h:inputText value="#{cobroBean.popupHandler.monedasValoresString[2]}">
                <p:ajax event="keyup" update="totalACobrarID,devueltaID" process="@this,totalPagarID"  listener="#{cobroBean.popupHandler.refrescarTotalPagarFieldUI}" />  
            </h:inputText>
            <h:outputText value="$25"/>
            <h:inputText value="#{cobroBean.popupHandler.monedasValoresString[3]}">
                <p:ajax event="keyup" update="totalACobrarID,devueltaID" process="@this,totalPagarID"  listener="#{cobroBean.popupHandler.refrescarTotalPagarFieldUI}" />  
            </h:inputText>
            <h:outputText value="$50"/>
            <h:inputText value="#{cobroBean.popupHandler.monedasValoresString[4]}">
                <p:ajax event="keyup" update="totalACobrarID,devueltaID" process="@this,totalPagarID"  listener="#{cobroBean.popupHandler.refrescarTotalPagarFieldUI}" />  
            </h:inputText>
        </p:panelGrid>

        <p:panelGrid columns="2" styleClass="generalPanelGrid">
            <h:outputText value="$100"/>
            <h:inputText value="#{cobroBean.popupHandler.monedasValoresString[5]}">
                <p:ajax event="keyup" update="totalACobrarID,devueltaID" process="@this,totalPagarID"  listener="#{cobroBean.popupHandler.refrescarTotalPagarFieldUI}" />  
            </h:inputText>                
            <h:outputText value="$200"/>
            <h:inputText value="#{cobroBean.popupHandler.monedasValoresString[6]}">
                <p:ajax event="keyup" update="totalACobrarID,devueltaID" process="@this,totalPagarID"  listener="#{cobroBean.popupHandler.refrescarTotalPagarFieldUI}" />  
            </h:inputText>
            <h:outputText value="$500"/>
            <h:inputText value="#{cobroBean.popupHandler.monedasValoresString[7]}">
                <p:ajax event="keyup" update="totalACobrarID,devueltaID" process="@this,totalPagarID"  listener="#{cobroBean.popupHandler.refrescarTotalPagarFieldUI}" />  
            </h:inputText>
            <h:outputText value="$1000"/>
            <h:inputText value="#{cobroBean.popupHandler.monedasValoresString[8]}">
                <p:ajax event="keyup" update="totalACobrarID,devueltaID" process="@this,totalPagarID" listener="#{cobroBean.popupHandler.refrescarTotalPagarFieldUI}" />  
            </h:inputText>
            <h:outputText value="$2000"/>
            <h:inputText value="#{cobroBean.popupHandler.monedasValoresString[9]}">
                <p:ajax event="keyup" update="totalACobrarID,devueltaID" process="@this,totalPagarID" listener="#{cobroBean.popupHandler.refrescarTotalPagarFieldUI}" />  
            </h:inputText>
        </p:panelGrid>
    </p:panelGrid>
    <p:outputLabel style="font-weight: bold"  value="Total:"/>
    <p:outputLabel id="totalACobrarID" value="#{cobroBean.popupHandler.totalACobrarUIField}"/> 

    <br/>
    <br/>
    <br/>
    <center>
        <p:panelGrid columns="2" styleClass="generalPanelGrid" >
            <p:commandButton value="Cancelar" actionListener="#{cobroBean.popupHandler.cancelProcess}" oncomplete="closeDialogoCobro();"/>
            <p:commandButton value="Aceptar" update="mensajeCreatePopupCobro,:mantcobroform:tabViewCobroID:cobroDetalleMsg" oncomplete="handleCobroOperationResponse(xhr, status, args)" actionListener="#{cobroBean.popupHandler.execute}"/>
        </p:panelGrid>
    </center>
</ui:composition>