<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">


   

    <p:panelGrid columns="2" styleClass="generalPanelGrid">
        <h:outputLabel style="font-weight: bold" value="Cobro ID :"/>
        <h:outputLabel value="#{cobroBean.popupHandler.cobroCustomEntityModel.cobroId}"/>

        <h:outputLabel style="font-weight: bold" value="Codigo Grupo :"/>
        <h:outputLabel value="#{cobroBean.popupHandler.cobroCustomEntityModel.codigoGrupo}"/>

        <h:outputLabel style="font-weight: bold" value="Codigo Banca :"/>
        <h:outputLabel value="#{cobroBean.popupHandler.cobroCustomEntityModel.codigoBanca}"/>


        <h:outputLabel style="font-weight: bold" value="Fecha :"/>
        <h:outputLabel value="#{cobroBean.popupHandler.cobroCustomEntityModel.fechaEfectiva}">
            <f:convertDateTime pattern="dd-MM-yyyy"/>
        </h:outputLabel>

        <h:outputLabel style="font-weight: bold" value="Monto Cobrado:"/>
        <h:outputLabel value="#{cobroBean.popupHandler.cobroCustomEntityModel.montoTotal}"/>

        <h:outputLabel style="font-weight: bold" value="Descripcion:"/>
        <h:inputTextarea  readonly="true" style="width:250px; height:100px;" value="#{cobroBean.popupHandler.cobroCustomEntityModel.comentario}"/>
    </p:panelGrid>

    <br/>

    <center>
        <p:commandButton value="Cerrar" actionListener="#{cobroBean.popupHandler.cancelProcess}" oncomplete="closeDialogoCobro();"/>
    </center>


</ui:composition>