<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">

    <h:panelGroup>
        <p:panelGrid styleClass="generalPanelGrid" columns="2">

            <p:outputLabel value="Descripción:"/>
            <p:inputTextarea id="consorcioDescriptionTextArea" autoResize="true" style="width: 300px; height: 100px;" value="#{consorcioBean.popupHandler.consorcioModel.consorcioText}"/>

          

        </p:panelGrid>

        <br/>

        <h:panelGroup styleClass="btnRight">
            <p:panelGrid columns="2" styleClass="generalPanelGrid">


                <p:commandButton value="Aceptar"></p:commandButton>
                <p:commandButton value="Cancelar"></p:commandButton>

            </p:panelGrid>
        </h:panelGroup>
    </h:panelGroup>
</html>
