<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">


    <center>
        <h1>Mantenimiento Consorcio</h1>


        <p:panelGrid id="gridConsorcio" columns="2">


            <p:dataTable id="consorcioTableId" style="width: 1000px;" paginator="true" rows="10" var="consorcio" 
                         value="#{consorcioBean.modelBean.consorcios}" 
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                         rowsPerPageTemplate="5,10,15">

                <p:column width="10px;">


                    <f:facet  name="header">
                        <p:selectBooleanCheckbox value="#{consorcio.isSelected}" />
                    </f:facet>

                   
                    <p:selectBooleanCheckbox value="#{consorcio.isSelected}" />

                </p:column>

                <p:column headerText="CONSORCIO ID">  
                    <h:outputText value="#{consorcio.id}" />  
                </p:column>   

                <p:column headerText="DESCRIPCION">  
                    <h:outputText value="#{consorcio.consorcioText}" />  
                </p:column>   

                <!--                <p:column headerText="ESTATUS">  
                                    <h:outputText value="#{consorcio.status}" />  
                                </p:column>   -->
                <p:column headerText="COMPANIA ID">  
                    <h:outputText value="#{consorcio.companiaModel.id}" />  
                </p:column>   
            </p:dataTable>


            <p:panel  id="panelConsorcioOpciones" header="Opciones">

                <p:commandButton id="agregarConsorcio"  update="dialogConsorcioPopup" process="@this" actionListener="#{consorcioBean.openCreatePopup}" value="Crear" ></p:commandButton> <br/>
                <p:separator />
                <p:commandButton id="actualizarConsorcio" update="dialogConsorcioPopup" process="@this" actionListener="#{consorcioBean.openUpdatePopup}" value="Actualizar" ></p:commandButton><br/> 
                <p:separator />
                <p:commandButton id="visualizarConsorcio" update="dialogConsorcioPopup" process="@this"   actionListener="#{consorcioBean.openViewPopup}"  value="Visualizar" ></p:commandButton><br/>


            </p:panel>



        </p:panelGrid>
    </center>





    <ui:include  src="./consorcioPopup.xhtml"/>
</html>
