<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://java.sun.com/jsf/html">


    <p:dialog id="dialogConsorcioPopup" header="Mantenimiento Consorcio" modal="true" dynamic="true" widgetVar="consorcioDialog">

     
        
            <ui:include src="./#{consorcioBean.popupHandler.fileName}.xhtml"/>
        

    </p:dialog>










</html>