<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div style="padding-bottom:15px;">
        <h:outputFormat styleClass="banca-section-subtitle"
                        value="#{sabmsg['sab.loteria.eliminando.juego.lbl']}">
            <f:param value="#{loteriaBean.popupHandler.model.codigo}"/>
        </h:outputFormat>
    </div>
   
    <p:dataTable id="deleteLoteriaJuegoDT" style="width: 500px;font-size:12px;"
                 paginator="true" rows="10" var="juego" sortMode="single"
                 value="#{loteriaBean.popupHandler.juegosDeLoteria}" 
                 styleClass="banca-table"
                 paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                 rowsPerPageTemplate="5,10,15">
        <p:column headerText="#{sabmsg['sab.codigo.lbl']}"
                  sortBy="codigo">  
            <h:outputText value="#{juego.codigo}" />  
        </p:column> 

        <p:column headerText="#{sabmsg['sab.nombre.lbl']}"
                  sortBy="nombre">  
            <h:outputText value="#{juego.nombre}" />  
        </p:column>
        <p:column headerText="#{sabmsg['sab.operaciones.lbl']}"
                  sortBy="nombre" styleClass="banca-txt-align-center">  
             <p:commandLink title="#{sabmsg['sab.loteria.juego.eliminar.lbl']}"
                           actionListener="#{loteriaBean.popupHandler.execute}"
                           styleClass="banca-non-txt-decoration"
                           update=":mantloteriaform:deleteLoteriaJuegoDT"
                           oncomplete="openDialogoLoteria();">
                <img src="../../resources/images/minus_big.png" 
                     style="height:20px;width: 20px;"/>
                <f:param value="#{juego.id}" name="juegoId"/>
            </p:commandLink>
        </p:column>        
    </p:dataTable> 
    <br/>
    <p:separator/>
    <p:commandButton value="#{sabmsg['sab.cerrar.lbl']}" styleClass="fltRight"
                     title="#{sabmsg['sab.cerrar.lbl']}" update="loteriadialog"
                     actionListener="#{loteriaBean.popupHandler.cancelProcess}"
                     oncomplete="closeDialogoLoteria();"/>
    <div class="clear"/>
</ui:composition>
