<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div style="padding-bottom: 28px;">
        <p:outputLabel styleClass="banca-section-title" 
                       value="#{sabmsg['sab.reportes.bygrupo.porc.lbl']}"/>
    </div>

    <h:form id="reptbygrupoporcform" prependId="false">
        <h:panelGrid columns="4">
            <h:outputText styleClass="banca-font-size-18 bold-text"
                          value="#{sabmsg['sab.banca.seleccion.grupo']}" />
            <h:outputText value="&#160;" />
            <h:outputText value="&#160;" />
            <h:selectOneMenu id="grupos"
                             value="#{montoPorcentajeBean.modelBean.inputBean.grupoId}">
                <f:selectItem itemLabel="[Seleccione un Grupo]" itemValue="0"/>  
                <f:selectItems value="#{montoPorcentajeBean.gruposSI}"/>
                <p:ajax listener="#{montoPorcentajeBean.onGrupoSelectionChange()}"
                        event="change" onstart="repPorcDTWidget.clearFilters();" 
                        process="@this repPorcDT" update="repByGrupoPorcOPanel"/>                
            </h:selectOneMenu>
        </h:panelGrid>

        <p:outputPanel id="repByGrupoPorcSumm" style="padding-top: 10px; padding-bottom: 5px;">

            <h:outputText value="#{sabmsg['sab.detalle.grupo.lbl']}" 
                          class="bold-text banca-font-size-14" 
                          style="padding-bottom:10px;"/>

            <table style="padding-top:10px;">
                <tr>
                    <td class="banca-font-size-13 bold-text">#{sabmsg['sab.reportes.bygrupo.porc.gan.totales.grp']}</td>
                    <td class="banca-font-size-12">
                        <h:outputText value="#{montoPorcentajeBean.summaryTotalBancas}">
                            <f:convertNumber type="currency" currencySymbol="$" />
                        </h:outputText>
                    </td>
                </tr>
                <tr style="padding-top:8px;">
                    <td class="banca-font-size-13 bold-text">#{sabmsg['sab.reportes.bygrupo.porc.gan.juego1.grp']}</td>
                    <td class="banca-font-size-12">
                        <h:outputText value="#{montoPorcentajeBean.summaryTotalJuego1}">
                            <f:convertNumber type="currency" currencySymbol="$" />
                        </h:outputText>
                    </td>                    
                </tr>
                <tr>
                    <td class="banca-font-size-13 bold-text">#{sabmsg['sab.reportes.bygrupo.porc.gan.juego2.grp']}</td>
                    <td class="banca-font-size-12">
                        <h:outputText value="#{montoPorcentajeBean.summaryTotalJuego2}">
                            <f:convertNumber type="currency" currencySymbol="$" />
                        </h:outputText>
                    </td>                    
                </tr>
                <tr>
                    <td class="banca-font-size-13 bold-text">#{sabmsg['sab.reportes.bygrupo.porc.gan.juego3.grp']}</td>
                    <td class="banca-font-size-12">
                        <h:outputText value="#{montoPorcentajeBean.summaryTotalJuego3}">
                            <f:convertNumber type="currency" currencySymbol="$" />
                        </h:outputText>
                    </td>                    
                </tr>                
            </table>
        </p:outputPanel>        

        <p:outputPanel id="repByGrupoPorcOPanel" style="padding-top:20px;">

            <div class="banca-mantenimiento-tbl-msg-div banca-mantenimiento-tbl-msg-font">
                <p:messages autoUpdate="true" for="reptByGrupoMontPorctmsg"/>
            </div>            

            <p:dataTable id="repPorcDT" style="width: 100%;font-size:12px;"
                         paginator="true" rows="10" var="porc" sortMode="single"
                         binding="#{montoPorcentajeBean.dt}" 
                         filteredValue="#{montoPorcentajeBean.filteredList}"
                         value="#{montoPorcentajeBean.modelBean.montoPorcentajeList}" 
                         styleClass="banca-table" widgetVar="repPorcDTWidget"
                         paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                         rowsPerPageTemplate="5,10,15">

                <p:ajax event="filter" update=":reptbygrupoporcform:repByGrupoPorcSumm"/>

                <p:column headerText="#{sabmsg['sab.banca.lbl']}"
                          sortBy="banca">  
                    <h:outputText value="#{porc.banca}" />  
                </p:column> 

                <p:column headerText="#{sabmsg['sab.reportes.bygrupo.porc.total.banca.grp']}"
                          sortBy="totalBanca">  
                    <h:outputText value="#{porc.totalBanca}">
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>  
                </p:column> 

                <p:column headerText="#{sabmsg['sab.reportes.bygrupo.porc.total.juego1.grp']}"
                          sortBy="totalJuego1">  
                    <h:outputText value="#{porc.totalJuego1}">
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>  
                </p:column>               

                <p:column headerText="#{sabmsg['sab.reportes.bygrupo.porc.total.juego2.grp']}"
                          sortBy="totalJuego2">  
                    <h:outputText value="#{porc.totalJuego2}">
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>  
                </p:column>

                <p:column headerText="#{sabmsg['sab.reportes.bygrupo.porc.total.juego3.grp']}"
                          sortBy="totalJuego3">  
                    <h:outputText value="#{porc.totalJuego3}" >
                        <f:convertNumber type="currency" currencySymbol="$" />
                    </h:outputText>  
                </p:column>                

                <p:column headerText="#{sabmsg['sab.fecha.agregado']}"
                          sortBy="fecha" filterBy="fechaCreacionFormateada">  
                    <h:outputText value="#{porc.fechaCreacionFormateada}" />  
                </p:column>
            </p:dataTable>            
        </p:outputPanel>

    </h:form>

    <script>
        $(function() {
            $("#reptbygrupoporcform").attr("autocomplete", "off");
        });
        $(document).ready(function() {
            $('#grupos').val(0);
        });
    </script>
</ui:composition>