<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div style="padding-bottom: 28px;">
        <p:outputLabel styleClass="banca-section-title" 
                       value="#{sabmsg['sab.banca.mantenimiento.lbl']}"/>
    </div>

    <h:form id="mantbancaform" prependId="false">

        <h:panelGrid columns="4">
            <h:outputText styleClass="banca-font-size-18 bold-text"
                          value="#{sabmsg['sab.banca.seleccion.grupo']}" />
            <h:outputText value="&#160;" />
            <h:outputText value="&#160;" />
            <h:selectOneMenu id="grupos"
                             value="#{bancaBean.modelBean.inputBean.grupoId}">
                <f:selectItem itemLabel="[Seleccione un Grupo]" itemValue="0"/>  
                <f:selectItems value="#{bancaBean.gruposSI}"/>
                <p:ajax listener="#{bancaBean.onGrupoSelectionChange()}"
                        event="change" update="bancaOPanel" process="@this"/>
            </h:selectOneMenu>
        </h:panelGrid>


        <p:outputPanel id="bancaOPanel" style="padding-top:20px;">
            <h:panelGroup>
                <div style="padding-bottom: 8px;">
                    <p:commandButton value="#{sabmsg['sab.grupo.banca.agregar.lbl']}"
                                     title="#{sabmsg['sab.grupo.banca.agregar.lbl']}"
                                     styleClass="banca-buttons" update="bancdialog"
                                     actionListener="#{bancaBean.openCreatePopup}"
                                     oncomplete="openDialogoBanca();"
                                     rendered="#{bancaBean.modelBean.inputBean.grupoId ne null and
                                                 bancaBean.modelBean.inputBean.grupoId &gt; 0}"/>
                </div>

                <div class="banca-mantenimiento-tbl-msg-div banca-mantenimiento-tbl-msg-font">
                    <p:messages autoUpdate="true" for="bancamantmsg"/>
                </div>

                <p:dataTable id="bancaDT" style="width: 1000px;font-size:12px;"
                             paginator="true" rows="10" var="banca" sortMode="single"
                             value="#{bancaBean.modelBean.result}" 
                             styleClass="banca-table"
                             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                             rowsPerPageTemplate="5,10,15">
                    <p:column headerText="#{sabmsg['sab.codigo.lbl']}"
                              sortBy="codigo">  
                        <h:outputText value="#{banca.codigo}" />  
                    </p:column> 

                    <p:column headerText="#{sabmsg['sab.status.lbl']}"
                              sortBy="status">  
                        <h:outputText value="#{banca.status}" />  
                    </p:column> 

                    <p:column headerText="#{sabmsg['sab.fecha.creacion']}"
                              sortBy="fechaCreacion">  
                        <h:outputText value="#{banca.fechaCreacion}">
                            <f:convertDateTime pattern="dd-MM-yyyy"/>
                        </h:outputText>  
                    </p:column>

                    <p:column headerText="#{sabmsg['sab.fecha.actualizado']}"
                              sortBy="fechaActualizacion">  
                        <h:outputText value="#{banca.fechaActualizacion}">
                            <f:convertDateTime pattern="dd-MM-yyyy"/>
                        </h:outputText>
                    </p:column>

                    <p:column headerText="#{sabmsg['sab.operaciones.banca.lbl']}"
                              styleClass="banca-txt-align-center">                 
                        <p:commandLink title="#{sabmsg['sab.grupo.banca.actualizar.lbl']}"
                                       styleClass="banca-non-txt-decoration"
                                       actionListener="#{bancaBean.openUpdatePopup}"
                                       update=":mantbancaform:bancdialog"
                                       oncomplete="openDialogoBanca();">
                            <img src="../../resources/images/edit-notes.png" 
                                 style="height:20px;width: 20px;"/>
                            <f:param value="#{banca.id}" name="bancaId"/>
                        </p:commandLink>
                        <h:outputText value="&#160;" />
                        <h:outputText value="&#160;" /> 
                        <p:commandLink title="#{sabmsg['sab.grupo.banca.eliminar.lbl']}"
                                       actionListener="#{bancaBean.openDeletePopup}"
                                       oncomplete="openDialogoBanca();"
                                       update=":mantbancaform:bancdialog"
                                       styleClass="banca-non-txt-decoration">
                            <img src="../../resources/images/delete.png" 
                                 style="height:20px;width: 20px;"/>
                            <f:param value="#{banca.id}" name="bancaId"/>
                        </p:commandLink>                
                    </p:column>
                    <p:column headerText="#{sabmsg['sab.operaciones.loteria.lbl']}"
                              styleClass="banca-txt-align-center">
                        <h:panelGroup rendered="#{banca.status eq 'A'}">
                            <p:commandLink title="#{sabmsg['sab.banca.loteria.agregar.lbl']}"
                                           actionListener="#{bancaBean.openAddLoteriaABancaPopup}"
                                           styleClass="banca-non-txt-decoration"
                                           update=":mantbancaform:bancdialog"
                                           oncomplete="openDialogoBanca();">
                                <img src="../../resources/images/add_big.png" 
                                     style="height:20px;width: 20px;"/>
                                <f:param value="#{banca.id}" name="bancaId"/>                            
                            </p:commandLink>
                            <h:outputText value="&#160;" />
                            <h:outputText value="&#160;" />
                            <p:commandLink title="#{sabmsg['sab.banca.loteria.eliminar.lbl']}"
                                           actionListener="#{bancaBean.openRemoveLoteriaDeBancaPopup}"
                                           update=":mantbancaform:bancdialog"
                                           oncomplete="openDialogoBanca();"
                                           styleClass="banca-non-txt-decoration">
                                <img src="../../resources/images/minus_big.png" 
                                     style="height:20px;width: 20px;"/>
                                <f:param value="#{banca.id}" name="bancaId"/>                            
                            </p:commandLink>
                            <h:outputText value="&#160;"/>
                            <h:outputText value="&#160;"/>
                            <p:commandLink title="#{sabmsg['sab.banca.loteria.ver.lbl']}"
                                           actionListener="#{bancaBean.openViewLoteriaDeBancaPopup}"
                                           styleClass="banca-non-txt-decoration"
                                           update=":mantbancaform:bancdialog"
                                           oncomplete="openDialogoBanca();">
                                <img src="../../resources/images/view_text.png" 
                                     style="height:20px;width: 20px;"/>
                                <f:param value="#{banca.id}" name="bancaId"/>                            
                            </p:commandLink>
                        </h:panelGroup>
                    </p:column>
                    <p:column headerText="#{sabmsg['sab.operaciones.juegos.lbl']}"
                              styleClass="banca-txt-align-center">
                        <h:panelGroup rendered="#{banca.status eq 'A'}">
                            <p:commandLink title="#{sabmsg['sab.banca.juego.agregar.lbl']}"
                                           actionListener="#{bancaBean.openAddJuegoABancaPopup}"
                                           styleClass="banca-non-txt-decoration"
                                           update=":mantbancaform:bancdialog"
                                           oncomplete="openDialogoBanca();">
                                <img src="../../resources/images/add_big.png" 
                                     style="height:20px;width: 20px;"/>
                                <f:param value="#{banca.id}" name="bancaId"/>                            
                            </p:commandLink>
                            <h:outputText value="&#160;" />
                            <h:outputText value="&#160;" />
                            <p:commandLink title="#{sabmsg['sab.banca.juego.actualizar.lbl']}"
                                           actionListener="#{bancaBean.openUpdateJuegoDeBancaPopup}"
                                           styleClass="banca-non-txt-decoration"
                                           update=":mantbancaform:bancdialog"
                                           oncomplete="openDialogoBanca();">
                                <img src="../../resources/images/edit-notes.png" 
                                     style="height:20px;width: 20px;"/>
                                <f:param value="#{banca.id}" name="bancaId"/>                            
                            </p:commandLink>
                            <h:outputText value="&#160;" />
                            <h:outputText value="&#160;" />                            
                            <p:commandLink title="#{sabmsg['sab.banca.juego.eliminar.lbl']}"
                                           actionListener="#{bancaBean.openRemoveJuegoDeBancaPopup}"
                                           update=":mantbancaform:bancdialog"
                                           oncomplete="openDialogoBanca();"
                                           styleClass="banca-non-txt-decoration">
                                <img src="../../resources/images/minus_big.png" 
                                     style="height:20px;width: 20px;"/>
                                <f:param value="#{banca.id}" name="bancaId"/>                            
                            </p:commandLink>
                            <h:outputText value="&#160;"/>
                            <h:outputText value="&#160;"/>
                            <p:commandLink title="#{sabmsg['sab.banca.juego.ver.lbl']}"
                                           actionListener="#{bancaBean.openViewJuegoDeBancaPopup}"
                                           styleClass="banca-non-txt-decoration"
                                           update=":mantbancaform:bancdialog"
                                           oncomplete="openDialogoBanca();">
                                <img src="../../resources/images/view_text.png" 
                                     style="height:20px;width: 20px;"/>
                                <f:param value="#{banca.id}" name="bancaId"/>                            
                            </p:commandLink>
                        </h:panelGroup>
                    </p:column>                    
                </p:dataTable>            
                <ui:include src="./bancapopup.xhtml"/>
                <p:remoteCommand name="updateBancaAll" update="bancaDT" process="bancaDT"
                                 ignoreAutoUpdate="true"/>
            </h:panelGroup>
        </p:outputPanel>
    </h:form>            
    <script>
        $(function() {
            $("#mantbancaform").attr("autocomplete", "off");
        });
        $(document).ready(function() {
            $('#grupos').val(0);
        });
        function openDialogoBanca() {
            PF('bancadlg').show();
        }

        function closeDialogoBanca() {
            PF('bancadlg').hide();
        }

        function handleBancaOperationResponse(xhr, status, args) {
            if (args) {
                if (args.operationStatus === "000") {
                    closeDialogoBanca();
                    updateBancaAll();
                } else if (args.operationStatus === "001") {

                }
            }
        }
    </script>
</ui:composition>