<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    
    <h:outputText styleClass="bold-text " value="#{sabmsg['sab.eliminar.banca']}"/>
    <br/>
    
    <h:panelGrid columns="2" style="padding-top:10px;">
        <h:outputText styleClass="bold-text banca-font-size-13" 
                      value="#{sabmsg['sab.codigo.lbl']}"/>
        <h:outputText  value="#{bancaBean.popupHandler.model.codigo}"/>
        
        <h:outputText styleClass="bold-text banca-font-size-13" 
                      value="#{sabmsg['sab.status.lbl']}"/>
        <h:outputText  value="#{bancaBean.popupHandler.model.status}"/>
    </h:panelGrid>    
    <br/>
    <h:outputText styleClass="bold-text banca-font-size-11" 
                  value="#{sabmsg['sab.eliminar.banca.nota']}"
                  style="padding-bottom:15px;padding-top:10px;"/>
    <p:separator/>
    <p:commandButton value="#{sabmsg['sab.eliminar.lbl']}" styleClass="fltRight"
                     title="#{sabmsg['sab.eliminar.lbl']}"
                     oncomplete="handleBancaOperationResponse(xhr, status, args);"
                     actionListener="#{bancaBean.popupHandler.execute}"/>    
    <p:commandButton value="#{sabmsg['sab.cancelar.lbl']}" styleClass="fltRight"
                     title="#{sabmsg['sab.cancelar.lbl']}" update="bancdialog"
                     actionListener="#{bancaBean.popupHandler.cancelProcess}"
                     oncomplete="closeDialogoBanca();"/>
    <div class="clear"/>    
</ui:composition>

