<div  xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:outputText value="Cerrar Sesion" style="float:right;">

    </h:outputText>
    <div style="clear:both;"/>
    <br/>
    <h:form id="headerOptionMenu" prependId="false">
        <p:menubar styleClass="banca-header-menu">
            <p:submenu label="#{sabmsg['sab.archivo.lbl']}" icon="ui-icon-document">
                <p:menuitem value="#{sabmsg['sab.inicio.lbl']}" url="/faces/layout/main.xhtml"></p:menuitem>
                <p:separator styleClass="banca-header-menu-separator" />
                <p:menuitem value="#{sabmsg['sab.salir.lbl']}" url="#"></p:menuitem>
            </p:submenu>

            <p:submenu label="#{sabmsg['sab.mantenimiento.lbl']}" icon="ui-icon-gear">

                <p:menuitem value="#{sabmsg['sab.grupo.lbl']}" 
                            url="/faces/mantenimiento/grupo/home.xhtml"></p:menuitem>
                <p:separator styleClass="banca-header-menu-separator" />

                <p:menuitem value="#{sabmsg['sab.banca.lbl']}" 
                            url="/faces/mantenimiento/banca/home.xhtml"></p:menuitem>
                <p:separator styleClass="banca-header-menu-separator" />                

                <p:menuitem value="#{sabmsg['sab.loteria.lbl']}" 
                            url="/faces/mantenimiento/loteria/home.xhtml"></p:menuitem>
                <p:separator styleClass="banca-header-menu-separator" />

                <p:menuitem value="#{sabmsg['sab.juego.lbl']}" 
                            url="/faces/mantenimiento/juego/home.xhtml"></p:menuitem>
                <p:separator styleClass="banca-header-menu-separator" />
            </p:submenu>

            <p:submenu label="#{sabmsg['sab.gastos.lbl']}">
                <p:menuitem value="#{sabmsg['sab.gastos.ver.detalle.lbl']}" 
                            url="/faces/gasto/view/home.xhtml"></p:menuitem>
                
                <p:separator styleClass="banca-header-menu-separator" />

                <p:menuitem value="#{sabmsg['sab.gastos.agregar.lbl']}" 
                            url="/faces/gasto/agregar/home.xhtml"></p:menuitem>
            </p:submenu>
            <p:menuitem value="#{sabmsg['sab.cobro.lbl']}" url="/faces/mantenimiento/cobro/home.xhtml"></p:menuitem>             
            <p:menuitem value="#{sabmsg['sab.transaccion.lbl']}" url="/faces/reportes/bygrupo/transaccion/home.xhtml"></p:menuitem>

            <p:submenu label="#{sabmsg['sab.reportes.lbl']}">
                <p:menuitem value="#{sabmsg['sab.reportes.bygrupo.ganper.lbl']}" 
                            url="/faces/reportes/bygrupo/gananciaperdida/home.xhtml"></p:menuitem>
                <p:menuitem value="#{sabmsg['sab.reportes.bygrupo.porc.lbl']}" 
                            url="/faces/reportes/bygrupo/porcentaje/home.xhtml"></p:menuitem>                
            </p:submenu>
        </p:menubar>
    </h:form>

</div>
