<ui:composition xmlns="http://www.w3.org/1999/xhtml"   
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="./master.xhtml">	

    <ui:define name="content">
        <p:outputPanel id="contentPanel" >

        </p:outputPanel>
    </ui:define>
</ui:composition>