<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <h:outputStylesheet library="css" name="banca-app-styles.css"/>
    </h:head>
    <h:body>
        <ui:insert name="header" >
            <ui:include src="./header.xhtml" />
        </ui:insert>
        <div style="padding-top: 20px;min-height: 470px;">
            <ui:insert name="content"/>  
        </div>
        
        <div style="padding-top:10px;">
        <p:separator id="footerSeparator" styleClass="banca-separator"/> 
        
        <ui:insert name="footer" >
            <ui:include src="./footer.xhtml" />
        </ui:insert>
        </div>        
    </h:body>
</html>
