.banca-separator{
    border: 1px solid #000000;
}
.footer-style{
    font-size: 14px;
    font-style: italic;
    font-family: Time News Roman;
}
.banca-header-menu {

}
.banca-header-menu ul li{
    padding-left: 10px !important;
    padding-right: 10px !important;
}
.banca-header-menu ul li a span{
    font-size:14px;
}
.banca-header-menu-separator{
    width:90% !important;
    height:1px !important;
}
.banca-section-title{
    font-size: 16px;
    font-weight: bold;
}
.banca-section-subtitle{
    font-size: 14px;
    font-weight: bold;
}
.banca-buttons{
    font-size:12px !important;
    font-weight: bold;
}
.banca-table th{
    font-weight:bold !important;
}
.banca-popup-title{
    padding-bottom: 15px;
}
.red-text{
    color: red;
}
.bold-text{
    font-weight: bold;
}
.banca-popup-field-name{
    font-weight: bold;
    font-size: 12px;
}
.fltRight{
    float:right;
}
.fltLeft{
    float:left;
}
.clear{
    clear: both;
}
.banca-message-style{
    font-size: 12px;
}
.banca-close-dlg-img{
    height:16px;
    width:16px;
}
.banca-txt-align-center{
    text-align: center;
}
.banca-non-txt-decoration{
    text-decoration:none;
}
.banca-font-size-11{
    font-size: 11px;
}
.banca-font-size-12{
    font-size: 12px;
}
.banca-font-size-13{
    font-size: 13px;
}
.banca-font-size-14{
    font-size: 14px;
}
banca-font-size-16{
    font-size: 16px;
}
.banca-font-size-18{
    font-size: 18px;
}
.banca-mantenimiento-tbl-msg-div{
    width:500px;
}
.banca-mantenimiento-tbl-msg-font{
    font-size:12px !important;
}
.generalPanelGrid tr, .generalPanelGrid td {
    border: none;
    border-width:0px !important;
}
.gastoFilterClass{

}
.gastoFilterClass .ui-widget{
  font-size:12px !important;
}
.ui-datepicker{
     font-size:12px !important;
}
.ui-autocomplete-panel{
     font-size:12px !important;
}
.filtroGastos{
    font-size: 12px !important;
    width:800px;
    height: 120px;
}

.accionesFiltroGastos{
    font-size: 12px !important;
    width:160px;
    height: 100px;
}

.banca-scroll .ui-widget-header {
    background:  none !important;
   
}
.banca-scroll th{
    font-weight:bold !important;
}