/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03-ene-2014, 17:27:25
    Author     : Snailin Inoa
*/


.generalPanelGrid tr, .generalPanelGrid td {
    border: none;
    border-width:0px !important;
}

.btnRight{
    
    float: right;
}