<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

    <div style="padding-bottom: 20px;">
        <p:outputLabel styleClass="banca-section-title" 
                       value="#{sabmsg['sab.loteria.mantenimiento.lbl']}"/>
    </div>

    <h:form id="mantloteriaform" prependId="false">
        <div style="padding-bottom: 8px;">
            <p:commandButton value="#{sabmsg['sab.loteria.agregar.lbl']}"
                             title="#{sabmsg['sab.loteria.agregar.lbl']}"
                             styleClass="banca-buttons" update="loteriadialog"
                             actionListener="#{loteriaBean.openCreatePopup}"
                             oncomplete="openDialogoLoteria();"/>
        </div>

        <div class="banca-mantenimiento-tbl-msg-div banca-mantenimiento-tbl-msg-font">
            <p:messages autoUpdate="true" for="loteriamantmsg"/>
        </div>

        <p:dataTable id="loteriaDT" style="min-width: 650px; max-width: 800px; font-size:12px;"
                     paginator="true" rows="10" var="loteria" sortMode="single"
                     value="#{loteriaBean.modelBean.result}" styleClass="banca-table"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                     rowsPerPageTemplate="5,10,15">
            <p:column headerText="#{sabmsg['sab.codigo.lbl']}"
                      sortBy="codigo">  
                <h:outputText value="#{loteria.codigo}" />  
            </p:column> 

            <p:column headerText="#{sabmsg['sab.status.lbl']}"
                      sortBy="status">  
                <h:outputText value="#{loteria.status}" />  
            </p:column> 

            <p:column headerText="#{sabmsg['sab.fecha.creacion']}"
                      sortBy="fechaCreacion">  
                <h:outputText value="#{loteria.fechaCreacion}">
                    <f:convertDateTime pattern="dd-MM-yyyy"/>
                </h:outputText>  
            </p:column>

            <p:column headerText="#{sabmsg['sab.fecha.actualizado']}"
                      sortBy="fechaActualizacion">  
                <h:outputText value="#{loteria.fechaActualizacion}">
                    <f:convertDateTime pattern="dd-MM-yyyy"/>
                </h:outputText>
            </p:column>

            <p:column headerText="#{sabmsg['sab.operaciones.loteria.lbl']}"
                      styleClass="banca-txt-align-center">     
                <p:commandLink title="#{sabmsg['sab.loteria.actualizar.lbl']}"
                               styleClass="banca-non-txt-decoration"
                               actionListener="#{loteriaBean.openUpdatePopup}"
                               update=":mantloteriaform:loteriadialog"
                               oncomplete="openDialogoLoteria();">
                    <img src="../../resources/images/edit-notes.png" 
                         style="height:20px;width: 20px;"/>
                    <f:param value="#{loteria.id}" name="loteriaId"/>
                </p:commandLink>
                <h:outputText value="&#160;" />
                <h:outputText value="&#160;" /> 
                <p:commandLink title="#{sabmsg['sab.loteria.eliminar.lbl']}"
                               actionListener="#{loteriaBean.openDeletePopup}"
                               update=":mantloteriaform:loteriadialog"
                               oncomplete="openDialogoLoteria();"
                               styleClass="banca-non-txt-decoration">
                    <img src="../../resources/images/delete.png" 
                         style="height:20px;width: 20px;"/>
                    <f:param value="#{loteria.id}" name="loteriaId"/>
                </p:commandLink>                
            </p:column>
            <p:column headerText="#{sabmsg['sab.operaciones.juegos.lbl']}"
                      styleClass="banca-txt-align-center">
                <h:panelGroup rendered="#{loteria.status eq 'A'}">
                    <p:commandLink title="#{sabmsg['sab.loteria.juego.agregar.lbl']}"
                                   actionListener="#{loteriaBean.openAddJuegoALoteriaPopup}"
                                   styleClass="banca-non-txt-decoration"
                                   update=":mantloteriaform:loteriadialog"
                                   oncomplete="openDialogoLoteria();">
                        <img src="../../resources/images/add_big.png" 
                             style="height:20px;width: 20px;"/>
                        <f:param value="#{loteria.id}" name="loteriaId"/>
                    </p:commandLink>
                    <h:outputText value="&#160;" />
                    <h:outputText value="&#160;" /> 
                    <p:commandLink title="#{sabmsg['sab.loteria.juego.eliminar.lbl']}"
                                   actionListener="#{loteriaBean.openRemoveJuegoDeLoteriaPopup}"
                                   update=":mantloteriaform:loteriadialog"
                                   oncomplete="openDialogoLoteria();"
                                   styleClass="banca-non-txt-decoration">
                        <img src="../../resources/images/minus_big.png" 
                             style="height:20px;width: 20px;"/>
                        <f:param value="#{loteria.id}" name="loteriaId"/>
                    </p:commandLink>
                    <h:outputText value="&#160;"/>
                    <h:outputText value="&#160;"/>
                    <p:commandLink title="#{sabmsg['sab.loteria.ver.juegos.lbl']}"
                                   actionListener="#{loteriaBean.openViewJuegosLoteriaPopup}"
                                   styleClass="banca-non-txt-decoration"
                                   update=":mantloteriaform:loteriadialog"
                                   oncomplete="openDialogoLoteria();">
                        <img src="../../resources/images/view_text.png" 
                             style="height:20px;width: 20px;"/>
                        <f:param value="#{loteria.id}" name="loteriaId"/>
                    </p:commandLink>
                </h:panelGroup>
            </p:column>        
        </p:dataTable>
        <ui:include src="./loteriapopup.xhtml"/>

        <p:remoteCommand name="updateLoteriaAll" update="loteriaDT" process="loteriaDT"
                         ignoreAutoUpdate="true"/>
    </h:form>
    <script>
        function openDialogoLoteria() {
            PF('loteriadlg').show();
        }

        function closeDialogoLoteria() {
            PF('loteriadlg').hide();
        }

        function handleLoteriaOperationResponse(xhr, status, args) {
            if (args) {
                if (args.operationStatus === "000") {
                    closeDialogoLoteria();
                    updateLoteriaAll();
                } else if (args.operationStatus === "001") {

                }
            }
        }
    </script>
</ui:composition>