<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    
    <span class="red-text bold-text">*</span>
    <h:outputLabel escape="true" value="&#160;"/> #{sabmsg['sab.campos.requeridos']}
        
    <h:panelGrid columns="3" cellpadding="3" cellspacing="1" 
                 style="padding-top: 15px;" width="100%">
        <h:outputLabel styleClass="red-text bold-text" value="*"/>
        <h:outputLabel value="#{sabmsg['sab.codigo.lbl']}" 
                       styleClass="banca-popup-field-name "/>
        <h:inputText value="#{loteriaBean.popupHandler.model.codigo}"
                     size="20" maxlength="2"/>     
    </h:panelGrid>
    <br/>
    <p:separator/>
    <p:commandButton value="#{sabmsg['sab.agregar.lbl']}" styleClass="fltRight"
                     title="#{sabmsg['sab.agregar.lbl']}"
                     actionListener="#{loteriaBean.popupHandler.execute}"
                     oncomplete="handleLoteriaOperationResponse(xhr, status, args);"/>    
    <p:commandButton value="#{sabmsg['sab.cancelar.lbl']}" styleClass="fltRight"
                     title="#{sabmsg['sab.cancelar.lbl']}" update="loteriadialog"
                     actionListener="#{loteriaBean.popupHandler.cancelProcess}"
                     oncomplete="closeDialogoLoteria();"/>
    <div class="clear"/>
</ui:composition>