<ui:composition  xmlns="http://www.w3.org/1999/xhtml"
                 xmlns:h="http://java.sun.com/jsf/html"
                 xmlns:f="http://java.sun.com/jsf/core"
                 xmlns:ui="http://java.sun.com/jsf/facelets"
                 xmlns:p="http://primefaces.org/ui">	


    <div style="padding-bottom: 20px;">
        <p:outputLabel styleClass="banca-section-title" 
                       value="#{sabmsg['sab.grupo.mantenimiento.lbl']}"/>
    </div>

    <h:form id="mantgrupoform" prependId="false">
        <div style="padding-bottom: 8px;">
            <p:commandButton value="#{sabmsg['sab.grupo.agregar.lbl']}"
                             title="#{sabmsg['sab.grupo.agregar.lbl']}"
                             styleClass="banca-buttons"  update="grupdialog"
                             actionListener="#{grupoBean.openCreatePopup}"
                             oncomplete="openDialogoGrupo();"/>           
        </div>

        <div class="banca-mantenimiento-tbl-msg-div banca-mantenimiento-tbl-msg-font">
            <p:messages autoUpdate="true" for="grupomantmsg"/>
        </div>                

        <p:dataTable id="grupoDT" style="width: 800px;font-size:12px;"
                     paginator="true" rows="10" var="grupo" sortMode="single"
                     value="#{grupoBean.modelBean.result}" styleClass="banca-table"
                     paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"  
                     rowsPerPageTemplate="5,10,15">
            <p:column headerText="#{sabmsg['sab.codigo.lbl']}"
                      sortBy="codigo">  
                <h:outputText value="#{grupo.codigo}" />  
            </p:column>

            <p:column headerText="#{sabmsg['sab.status.lbl']}"
                      sortBy="status">  
                <h:outputText value="#{grupo.status}" />  
            </p:column> 

            <p:column headerText="#{sabmsg['sab.fecha.creacion']}"
                      sortBy="fechaCreacion">  
                <h:outputText value="#{grupo.fechaCreacion}">
                    <f:convertDateTime pattern="dd-MM-yyyy"/>
                </h:outputText>  
            </p:column>

            <p:column headerText="#{sabmsg['sab.fecha.actualizado']}"
                      sortBy="fechaActualizacion">  
                <h:outputText value="#{grupo.fechaActualizacion}">
                    <f:convertDateTime pattern="dd-MM-yyyy"/>
                </h:outputText>
            </p:column>

            <p:column headerText="#{sabmsg['sab.operaciones.lbl']}"
                      styleClass="banca-txt-align-center">
                <p:commandLink title="#{sabmsg['sab.grupo.actualizar.lbl']}"
                               actionListener="#{grupoBean.openUpdatePopup}"
                               oncomplete="openDialogoGrupo();"
                               update=":mantgrupoform:grupdialog"
                               styleClass="banca-non-txt-decoration">
                    <img src="../../resources/images/edit-notes.png" 
                         style="height:20px;width: 20px;"/>
                    <f:param value="#{grupo.id}" name="grupoId"/>
                </p:commandLink>
                <h:outputText value="&#160;" />
                <h:outputText value="&#160;" /> 
                <p:commandLink title="#{sabmsg['sab.grupo.eliminar.lbl']}"
                               actionListener="#{grupoBean.openDeletePopup}"
                               oncomplete="openDialogoGrupo();"
                               update=":mantgrupoform:grupdialog"
                               styleClass="banca-non-txt-decoration">
                    <img src="../../resources/images/delete.png" 
                         style="height:20px;width: 20px;"/>
                    <f:param value="#{grupo.id}" name="grupoId"/>
                </p:commandLink>                
            </p:column>            
        </p:dataTable>          

        <ui:include src="./grupopopup.xhtml"/>
        
        <p:remoteCommand name="updateGrupoAll" update="grupoDT" process="grupoDT"
                         ignoreAutoUpdate="true"/>   
    </h:form>

    <script>
        function openDialogoGrupo() {
            PF('grupodlg').show();
        }

        function closeDialogoGrupo() {
            PF('grupodlg').hide();
        }

        function handleGrupoOperationResponse(xhr, status, args) { 
            if(args){
                if(args.operationStatus==="000"){
                    closeDialogoGrupo();
                    updateGrupoAll();
                }else if(args.operationStatus==="001"){
                    
                }
            }
        }    
    </script>
</ui:composition>